Repository apache/flink-cdc, pull requests merged in 2023-12, with the labels that each got.

#2636 [3.0] [flink-cdc-dist] Collect all distro resources into a TAR
  flink-cdc-dist/pom.xml
  flink-cdc-dist/src/main/assembly/assembly.xml
  flink-cdc-dist/src/main/flink-cdc-bin/bin/flink-cdc.sh
  flink-cdc-dist/src/main/flink-cdc-bin/conf/flink-cdc.yaml
  flink-cdc-dist/src/main/flink-cdc-bin/conf/log4j-cli.properties
  pom.xml
Labels: build, dist

#2791 [cdc-dist] Introduce flink-cdc.sh as the entrypoint of the Flink CDC
  flink-cdc-dist/src/main/flink-cdc-bin/bin/flink-cdc.sh
Labels: dist

#2776 [cdc-composer] Add integration test for FlinkPipelineComposer
  flink-cdc-composer/pom.xml
  flink-cdc-composer/src/main/java/com/ververica/cdc/composer/flink/FlinkPipelineComposer.java
  flink-cdc-composer/src/main/java/com/ververica/cdc/composer/utils/FactoryDiscoveryUtils.java
  flink-cdc-composer/src/test/java/com/ververica/cdc/composer/flink/FlinkPipelineComposerITCase.java
  flink-cdc-composer/src/test/java/com/ververica/cdc/composer/utils/FactoryDiscoveryUtilsTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-values/src/main/java/com/ververica/cdc/connectors/values/sink/ValuesDataSink.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-values/src/main/java/com/ververica/cdc/connectors/values/source/ValuesDataSourceHelper.java
Labels: values-pipeline-connector, composer

#2578 MysqlTableSource return metadata in a fixed order
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/com/ververica/cdc/connectors/mysql/table/MySqlTableSource.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/com/ververica/cdc/connectors/mysql/debezium/DebeziumUtilsTest.java
Labels: mysql-cdc-connector

#2435 [debezium] Improve convertToBinary for RowDataDebeziumDeserializeSchema
  docs/content/connectors/mysql-cdc(ZH).md
  docs/content/connectors/mysql-cdc.md
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-debezium/src/main/java/com/ververica/cdc/debezium/table/RowDataDebeziumDeserializeSchema.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/com/ververica/cdc/connectors/mysql/table/MySqlConnectorITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/resources/ddl/inventory.sql
Labels: docs, mysql-cdc-connector

#2795 [cdc-composer] Add common and runtime JAR on submit
  flink-cdc-composer/src/main/java/com/ververica/cdc/composer/flink/FlinkPipelineComposer.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/pom.xml
Labels: composer

#2799 [cdc-connector][sqlserver][tests] Fix UT errors by increasing the wait time after committing SQL
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-sqlserver-cdc/src/test/java/com/ververica/cdc/connectors/sqlserver/source/SqlServerSourceITCase.java
Labels: sqlserver-cdc-connector

#2804 [build] Let surefire plugin to keep the full stacktrace on test failure
  pom.xml
Labels: build

#2803 [3.0][hotfix] Remove useless flink import
  flink-cdc-common/src/main/java/com/ververica/cdc/common/data/binary/BinaryRecordData.java
  flink-cdc-common/src/main/java/com/ververica/cdc/common/factories/FactoryHelper.java
  flink-cdc-runtime/src/main/java/com/ververica/cdc/runtime/serializer/EnumSerializer.java
  flink-cdc-runtime/src/main/java/com/ververica/cdc/runtime/serializer/LinkedListSerializer.java
  flink-cdc-runtime/src/main/java/com/ververica/cdc/runtime/serializer/ListSerializer.java
  flink-cdc-runtime/src/main/java/com/ververica/cdc/runtime/serializer/MapSerializer.java
  flink-cdc-runtime/src/main/java/com/ververica/cdc/runtime/serializer/NestedSerializersSnapshotDelegate.java
  flink-cdc-runtime/src/main/java/com/ververica/cdc/runtime/serializer/data/ArrayDataSerializer.java
Labels: common, runtime

#2807 [cdc-cli][cdc-composer][cdc-dist] Support submitting job to general Flink environment
  flink-cdc-cli/src/main/java/com/ververica/cdc/cli/utils/FlinkEnvironmentUtils.java
  flink-cdc-cli/src/test/java/com/ververica/cdc/cli/CliFrontendTest.java
  flink-cdc-composer/src/main/java/com/ververica/cdc/composer/flink/FlinkPipelineComposer.java
  flink-cdc-dist/src/main/flink-cdc-bin/bin/flink-cdc.sh
Labels: composer, dist, cli

#2810 [pipeline-connector][doris] add doris pipeline connector.
  flink-cdc-common/src/main/java/com/ververica/cdc/common/data/LocalZonedTimestampData.java
  flink-cdc-common/src/main/java/com/ververica/cdc/common/types/DataTypes.java
  flink-cdc-common/src/main/java/com/ververica/cdc/common/types/utils/DataTypeUtils.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/pom.xml
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/main/java/com/ververica/cdc/connectors/doris/factory/DorisDataSinkFactory.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/main/java/com/ververica/cdc/connectors/doris/sink/DorisDataSink.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/main/java/com/ververica/cdc/connectors/doris/sink/DorisDataSinkOptions.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/main/java/com/ververica/cdc/connectors/doris/sink/DorisEventSerializer.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/main/java/com/ververica/cdc/connectors/doris/sink/DorisMetadataApplier.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/main/java/com/ververica/cdc/connectors/doris/sink/DorisRowConverter.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/main/resources/META-INF/services/com.ververica.cdc.common.factories.Factory
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/test/java/com/ververica/cdc/connectors/doris/sink/DorisRowConverterTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/pom.xml
  pom.xml
Labels: common, build

#2812 [3.0][cdc-runtime] Remove waitForFlushSuccess field in request handler
  flink-cdc-runtime/src/main/java/com/ververica/cdc/runtime/operators/schema/coordinator/SchemaRegistryRequestHandler.java
Labels: runtime

#2550 [mysql] Fix attempted load of isSuspended in MySqlSplitSerializer::deserializeSplit
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/com/ververica/cdc/connectors/mysql/source/split/MySqlSplitSerializer.java
Labels: mysql-cdc-connector

#2817 [build][hotfix] Remove useless suppressions.
  tools/maven/suppressions.xml
Labels: build

#2682 [mysql] fix deserialization issue on table metadata binlog event
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/com/github/shyiko/mysql/binlog/event/deserialization/TableMapEventDataDeserializer.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/com/github/shyiko/mysql/binlog/event/deserialization/TableMapEventMetadataDeserializer.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/com/github/shyiko/mysql/binlog/event/deserialization/TableMapEventDataDeserializerTest.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/com/ververica/cdc/connectors/mysql/table/MySqlConnectorITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/resources/ddl/binlog_metadata_test.sql
Labels: mysql-cdc-connector

#2820 [cdc-pipeline-connector][mysql] Fix precision problem of BIT type conversion
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/main/java/com/ververica/cdc/connectors/mysql/source/parser/CustomMySqlAntlrDdlParser.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/main/java/com/ververica/cdc/connectors/mysql/utils/MySqlTypeUtils.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/java/com/ververica/cdc/connectors/mysql/source/MySqlFullTypesITCase.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/java/com/ververica/cdc/connectors/mysql/source/MySqlMetadataAccessorITCase.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/java/com/ververica/cdc/connectors/mysql/source/MySqlPipelineITCase.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/resources/ddl/column_type_test.sql
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/resources/ddl/column_type_test_mysql8.sql
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/com/ververica/cdc/connectors/mysql/schema/MySqlTypeUtils.java
Labels: mysql-cdc-connector

#2821 [cdc-common] Remove prefix of pipeline options
  flink-cdc-common/src/main/java/com/ververica/cdc/common/pipeline/PipelineOptions.java
  flink-cdc-composer/src/main/java/com/ververica/cdc/composer/flink/FlinkPipelineComposer.java
  flink-cdc-composer/src/main/java/com/ververica/cdc/composer/flink/translator/DataSourceTranslator.java
  flink-cdc-composer/src/test/java/com/ververica/cdc/composer/flink/FlinkPipelineComposerITCase.java
Labels: composer, common

#2822 [cdc-cli][cdc-dist] Support loading global config from FLINK_CDC_HOME
  flink-cdc-cli/src/main/java/com/ververica/cdc/cli/CliFrontend.java
  flink-cdc-cli/src/main/java/com/ververica/cdc/cli/parser/YamlPipelineDefinitionParser.java
  flink-cdc-dist/src/main/flink-cdc-bin/bin/flink-cdc.sh
  flink-cdc-dist/src/main/flink-cdc-bin/conf/flink-cdc.yaml
Labels: dist, cli

#2823 [cdc-cli][cdc-composer] Use "source-table" and "sink-table" as keywords of route
  flink-cdc-cli/src/main/java/com/ververica/cdc/cli/parser/YamlPipelineDefinitionParser.java
  flink-cdc-cli/src/test/resources/definitions/pipeline-definition-full.yaml
  flink-cdc-cli/src/test/resources/definitions/pipeline-definition-with-optional.yaml
  flink-cdc-composer/src/main/java/com/ververica/cdc/composer/definition/RouteDef.java
Labels: composer, cli

#2825 [BP-3.0][cdc-cli][cdc-composer] Use "source-table" and "sink-table" as keywords of route
  flink-cdc-cli/src/main/java/com/ververica/cdc/cli/parser/YamlPipelineDefinitionParser.java
  flink-cdc-cli/src/test/resources/definitions/pipeline-definition-full.yaml
  flink-cdc-cli/src/test/resources/definitions/pipeline-definition-with-optional.yaml
  flink-cdc-composer/src/main/java/com/ververica/cdc/composer/definition/RouteDef.java
Labels: composer, cli

#2819 [3.0][docs] update example in README
  README.md
Labels: docs

#2790 [3.0][docs] Introduce core concepts for CDC 3.0 pipeline
  docs/_static/fig/architecture.png
  docs/_static/fig/design.png
  docs/content/overview/cdc-connectors.md
  docs/content/overview/cdc-pipeline.md
  docs/content/overview/index.md
  docs/index.md
Labels: docs, 【3.0】

#2827 [3.0][docs] Add documents for MySql pipeline connector
  docs/content/connectors/mongodb-cdc(ZH).md
  docs/content/connectors/mongodb-cdc.md
  docs/content/connectors/mysql-cdc(ZH).md
  docs/content/connectors/mysql-cdc.md
  docs/content/connectors/oceanbase-cdc.md
  docs/content/connectors/oracle-cdc.md
  docs/content/connectors/postgres-cdc.md
  docs/content/connectors/sqlserver-cdc.md
  docs/content/pipelines/index.md
  docs/content/pipelines/mysql-pipeline(ZH).md
  docs/content/pipelines/mysql-pipeline.md
  docs/index.md
Labels: docs

#2834 [3.0][docs] fix yaml tables parameter in readme
  README.md
Labels: docs

#2833 [docs] Fix overview docs to remove prefix of pipeline options.
  docs/content/overview/cdc-pipeline.md
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/resources/pipeline-test.yaml
Labels: docs

#2836 cherry pick readme commits from master to release-3.0
  README.md
Labels: docs

#2838 [3.0][docs] add tutorial for mysql to doris pipeline.
  docs/_static/fig/mysql-doris-tutorial/doris-create-table.png
  docs/_static/fig/mysql-doris-tutorial/doris-ui.png
  docs/_static/fig/mysql-doris-tutorial/doris_display_data.png
  docs/_static/fig/mysql-doris-tutorial/doris_display_result.png
  docs/_static/fig/mysql-doris-tutorial/flink-ui.png
  docs/_static/fig/mysql-doris-tutorial/mysql-to-doris.png
  docs/content/quickstart/index.md
  docs/content/quickstart/mysql-doris-pipeline-tutorial.md
  docs/content/快速上手/index.md
  docs/content/快速上手/mysql-doris-pipeline-tutorial-zh.md
Labels: docs

#2832 [BP-3.0][docs] Introduce core concepts for CDC 3.0 pipeline (#2790)
  docs/_static/fig/architecture.png
  docs/_static/fig/design.png
  docs/content/overview/cdc-connectors.md
  docs/content/overview/cdc-pipeline.md
  docs/content/overview/index.md
  docs/index.md
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/resources/pipeline-test.yaml
Labels: docs

#2843 [BP-3.0][docs] Add tutorial for mysql to doris pipeline. (#2838)
  docs/_static/fig/mysql-doris-tutorial/doris-create-table.png
  docs/_static/fig/mysql-doris-tutorial/doris-ui.png
  docs/_static/fig/mysql-doris-tutorial/doris_display_data.png
  docs/_static/fig/mysql-doris-tutorial/doris_display_result.png
  docs/_static/fig/mysql-doris-tutorial/flink-ui.png
  docs/_static/fig/mysql-doris-tutorial/mysql-to-doris.png
  docs/content/quickstart/index.md
  docs/content/quickstart/mysql-doris-pipeline-tutorial.md
  docs/content/快速上手/index.md
  docs/content/快速上手/mysql-doris-pipeline-tutorial-zh.md
Labels: docs

#2847 [cdc-connector][sqlserver] Fix SqlServerTableSource params order error
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-sqlserver-cdc/src/main/java/com/ververica/cdc/connectors/sqlserver/table/SqlServerTableFactory.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-sqlserver-cdc/src/main/java/com/ververica/cdc/connectors/sqlserver/table/SqlServerTableSource.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-sqlserver-cdc/src/test/java/com/ververica/cdc/connectors/sqlserver/table/SqlServerTableFactoryTest.java
Labels: sqlserver-cdc-connector

#2841 [3.0][docs] add tutorial for mysql to starrocks pipeline.
  docs/_static/fig/mysql-starrocks-tutorial/flink-ui.png
  docs/_static/fig/mysql-starrocks-tutorial/mysql-to-starrocks.png
  docs/_static/fig/mysql-starrocks-tutorial/starrocks-display-data.png
  docs/_static/fig/mysql-starrocks-tutorial/starrocks-display-result.png
  docs/content/quickstart/index.md
  docs/content/quickstart/mysql-starrocks-pipeline-tutorial.md
  docs/content/快速上手/index.md
  docs/content/快速上手/mysql-starrocks-pipeline-tutorial-zh.md
Labels: docs

#2788 [docs] introduces of Doris Pipeline Connector
  docs/content/pipelines/doris-pipeline(ZH).md
  docs/content/pipelines/doris-pipeline.md
  docs/content/pipelines/index.md
  mysqlToDoris.yml
Labels: docs, 【3.0】

#2860 [docs][pipeline-connector][starrocks] Fix the pictures do not display
  docs/content/quickstart/mysql-starrocks-pipeline-tutorial.md
  docs/content/快速上手/mysql-starrocks-pipeline-tutorial-zh.md
Labels: docs

#2845 [Rumtime] Hotfix in BinaryRecordDataSerializer with code refractor
  flink-cdc-runtime/src/main/java/com/ververica/cdc/runtime/serializer/data/binary/BinaryRecordDataSerializer.java
Labels: runtime

#2839 [postgres] Add commits of PostgresConnection back to distinguish with debezium's origin class
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/io/debezium/connector/postgresql/connection/PostgresConnection.java
Labels: postgres-cdc-connector

#2871 [hotfix][docs] Change the title to keep the document format uniform
  docs/content/pipelines/doris-pipeline(ZH).md
  docs/content/pipelines/doris-pipeline.md
Labels: docs

#2889 [bp-3.0][hotfix][docs] Change the title to keep the document format uniform
  docs/content/pipelines/doris-pipeline(ZH).md
  docs/content/pipelines/doris-pipeline.md
Labels: docs

#2864 [cdc-connector][sqlserver][tests] Fix UT errors by correcting right output
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/test/java/com/ververica/cdc/connectors/mongodb/source/MongoDBFullChangelogITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/test/java/com/ververica/cdc/connectors/mongodb/source/MongoDBParallelSourceITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/com/ververica/cdc/connectors/mysql/source/MySqlSourceITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-oracle-cdc/src/test/java/com/ververica/cdc/connectors/oracle/source/OracleSourceITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/test/java/com/ververica/cdc/connectors/postgres/source/PostgresSourceITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-sqlserver-cdc/src/test/java/com/ververica/cdc/connectors/sqlserver/source/SqlServerSourceITCase.java
Labels: mongodb-cdc-connector, mysql-cdc-connector, oracle-cdc-connector, postgres-cdc-connector, sqlserver-cdc-connector

#2868 [cdc-source-connector][oceanbase] use current timestamp when query gts failure
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-oceanbase-cdc/src/main/java/com/ververica/cdc/connectors/oceanbase/source/OceanBaseConnection.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-oceanbase-cdc/src/main/java/com/ververica/cdc/connectors/oceanbase/source/OceanBaseRichSourceFunction.java
Labels: oceanbase-cdc-connector

#2893 [cdc-connector][mongodb] Avoid mongodb source to read data after high_watermark in backfill phase
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/main/java/com/ververica/cdc/connectors/mongodb/source/reader/fetch/MongoDBStreamFetchTask.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/test/java/com/ververica/cdc/connectors/mongodb/source/MongoDBFullChangelogITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/test/java/com/ververica/cdc/connectors/mongodb/source/MongoDBParallelSourceITCase.java
Labels: mongodb-cdc-connector

#2913 [mysql] Support metadata 'operation' virtual column for MySql Connector.
  docs/content/connectors/mysql-cdc(ZH).md
  docs/content/connectors/mysql-cdc.md
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-debezium/src/main/java/com/ververica/cdc/debezium/table/AppendMetadataCollector.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-debezium/src/main/java/com/ververica/cdc/debezium/table/MetadataWithRowDataConverter.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/com/ververica/cdc/connectors/mysql/table/MySqlReadableMetadata.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/com/ververica/cdc/connectors/mysql/table/MySqlConnectorITCase.java
Labels: docs, mysql-cdc-connector

#2927 [hotfix][cdc-connector][mysql] Expose row_kind metadata column for mysql cdc source.
  docs/content/connectors/mysql-cdc(ZH).md
  docs/content/connectors/mysql-cdc.md
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-debezium/src/main/java/com/ververica/cdc/debezium/table/AppendMetadataCollector.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-debezium/src/main/java/com/ververica/cdc/debezium/table/MetadataConverter.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-debezium/src/main/java/com/ververica/cdc/debezium/table/RowDataMetadataConverter.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/com/ververica/cdc/connectors/mysql/table/MySqlReadableMetadata.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/com/ververica/cdc/connectors/mysql/table/MySqlConnectorITCase.java
Labels: docs, mysql-cdc-connector

#2886 [cdc-common][pipeline-doris] Fix a typo and fix the doris pipeline connector.
  flink-cdc-common/src/main/java/com/ververica/cdc/common/types/utils/DataTypeUtils.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/main/java/com/ververica/cdc/connectors/doris/sink/DorisMetadataApplier.java
Labels: common

#2920 [doc] Add Supported Connectors and Supported Flink Versions to Overview.
  docs/content/overview/cdc-pipeline.md
Labels: docs

#2897 [docs][cdc-connector][oceanbase] update docker image and os compatibility in quickstart
  docs/content/quickstart/oceanbase-tutorial.md
  docs/content/快速上手/oceanbase-tutorial-zh.md
Labels: docs

#2851 [build] Add github labeler for pipeline connector.
  .github/labeler.yml
Labels: build
