Repository apache/flink-cdc, pull requests merged in 2023-11, with the labels that each got.

#2757 [cdc-composer] use the right class to find sink connector JAR.
  flink-cdc-composer/src/main/java/com/ververica/cdc/composer/flink/FlinkPipelineComposer.java
Labels: composer

#2737 [cdc-pipeline-connector] add MULTI_SPLITS_SINGLE_TABLE to provide multiple splits case of ValuesDataSourceHelper.
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-values/src/main/java/com/ververica/cdc/connectors/values/factory/ValuesDataFactory.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-values/src/main/java/com/ververica/cdc/connectors/values/source/ValuesDataSource.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-values/src/main/java/com/ververica/cdc/connectors/values/source/ValuesDataSourceHelper.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-values/src/main/java/com/ververica/cdc/connectors/values/source/ValuesDataSourceOptions.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-values/src/test/java/com/ververica/cdc/connectors/values/source/ValuesDataSourceITCase.java
Labels: values-pipeline-connector

#2764 Update mysql-postgres-tutorial.md
  docs/content/quickstart/mysql-postgres-tutorial.md
Labels: docs

#2767 [cdc-runtime] maintain a set of TableId in DataSinkWriterOperator
  flink-cdc-runtime/src/main/java/com/ververica/cdc/runtime/operators/sink/DataSinkWriterOperator.java
Labels: runtime

#2756 [cdc-common] add PublicEvolving annotation to SchemaUtils.
  flink-cdc-common/src/main/java/com/ververica/cdc/common/schema/Schema.java
  flink-cdc-common/src/main/java/com/ververica/cdc/common/utils/SchemaUtils.java
  flink-cdc-runtime/src/main/java/com/ververica/cdc/runtime/operators/schema/coordinator/SchemaManager.java
  flink-cdc-runtime/src/test/java/com/ververica/cdc/runtime/operators/schema/coordinator/SchemaManagerTest.java
Labels: common, runtime

#2771 [cdc-runtime] Improve DataSinkWriterOperator logic that only emit latest schema for events that are not CreateTableEvent
  flink-cdc-runtime/src/main/java/com/ververica/cdc/runtime/operators/sink/DataSinkWriterOperator.java
Labels: runtime

#2774 [cdc-pipeline-connector][values] Avoid using `default` as name of namespace and schema.
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-values/src/main/java/com/ververica/cdc/connectors/values/source/ValuesDataSourceHelper.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-values/src/test/java/com/ververica/cdc/connectors/values/source/ValuesDataSourceITCase.java
Labels: values-pipeline-connector

#2773 [cdc-composer] use DataSinkWriterOperatorFactory to replace all SinkWriterOperatorFactory.
  flink-cdc-composer/src/main/java/com/ververica/cdc/composer/flink/translator/DataSinkTranslator.java
Labels: composer

#2762 [cdc-common] add createFieldGetters method to create FieldGetters of given Schema.
  flink-cdc-common/src/main/java/com/ververica/cdc/common/utils/SchemaUtils.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-values/src/main/java/com/ververica/cdc/connectors/values/factory/ValuesDataFactory.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-values/src/main/java/com/ververica/cdc/connectors/values/sink/ValuesDataSink.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-values/src/main/java/com/ververica/cdc/connectors/values/sink/ValuesDataSinkHelper.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-values/src/main/java/com/ververica/cdc/connectors/values/sink/ValuesDataSinkOptions.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-values/src/test/java/com/ververica/cdc/connectors/values/sink/ValuesDataSinkHelperTest.java
  flink-cdc-runtime/src/main/java/com/ververica/cdc/runtime/state/TableSchemaState.java
  flink-cdc-runtime/src/main/java/com/ververica/cdc/runtime/state/TableSchemaStateSerializer.java
  flink-cdc-runtime/src/test/java/com/ververica/cdc/runtime/state/TableSchemaStateSerializerTest.java
Labels: values-pipeline-connector, common, runtime

#2760 [Bug][mongo] Fix MongoDB's rewriteOutputBuffer to emit +I rather than +U(or -U)
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/main/java/com/ververica/cdc/connectors/mongodb/source/reader/fetch/MongoDBFetchTaskContext.java
Labels: mongodb-cdc-connector

#2777 [docs]update mysql-cdc(ZH).md
  docs/content/connectors/mysql-cdc(ZH).md
Labels: docs
