Repository apache/flink-cdc, pull requests merged in 2024-01, with the labels that each got.

#2924 [feature] speedup search mysql binlog when mysql-cdc-connector consum…
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/com/ververica/cdc/connectors/mysql/debezium/DebeziumUtils.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/com/ververica/cdc/connectors/mysql/source/offset/BinlogOffsetUtils.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/com/ververica/cdc/connectors/mysql/source/SpecificStartingOffsetITCase.java
Labels: mysql-cdc-connector

#2954 [doris][starrocks] remove SimpleDateFormat usage in Doris/StarRock.
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/main/java/com/ververica/cdc/connectors/doris/sink/DorisEventSerializer.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/main/java/com/ververica/cdc/connectors/doris/sink/DorisRowConverter.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-starrocks/src/main/java/com/ververica/cdc/connectors/starrocks/sink/StarRocksUtils.java
Labels: doris-pipeline-connector, starrocks-pipeline-connector

#2967 [doc] fix invalid page in website and update yaml in tutorial.
  docs/content/quickstart/mysql-doris-pipeline-tutorial.md
  docs/content/quickstart/mysql-starrocks-pipeline-tutorial.md
  docs/content/快速上手/mysql-doris-pipeline-tutorial-zh.md
  docs/content/快速上手/mysql-starrocks-pipeline-tutorial-zh.md
  docs/site/index.html
Labels: docs

#2952 [pipeline-connector][mysql] fix timestamp with timezone format
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/java/com/ververica/cdc/connectors/mysql/source/MySqlFullTypesITCase.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/java/com/ververica/cdc/connectors/mysql/source/MySqlMetadataAccessorITCase.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/resources/ddl/column_type_test.sql
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/resources/ddl/column_type_test_mysql8.sql
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-debezium/src/main/java/com/ververica/cdc/debezium/event/DebeziumSchemaDataTypeInference.java
Labels: mysql-pipeline-connector

#2957 [hotfix] Fix NoSuchMethodError of CollectionUtil.newHashMapWithExpectedSize.
  flink-cdc-common/src/main/java/com/ververica/cdc/common/utils/InstantiationUtil.java
Labels: common

#2992 [cdc-connector][cdc-base][hot-fix] Fix SourceSplitSerializer to get totalFinishedSplitSize from recovery in 4th version.
  flink-cdc-connect/flink-cdc-source-connectors/flink-cdc-base/src/main/java/com/ververica/cdc/connectors/base/source/meta/split/SourceSplitSerializer.java
Labels: base

#2995 [docs] update doc version description
  docs/content/connectors/db2-cdc.md
  docs/content/connectors/mongodb-cdc(ZH).md
  docs/content/connectors/mongodb-cdc.md
  docs/content/connectors/mysql-cdc(ZH).md
  docs/content/connectors/mysql-cdc.md
  docs/content/connectors/oceanbase-cdc(ZH).md
  docs/content/connectors/oceanbase-cdc.md
  docs/content/connectors/oracle-cdc.md
  docs/content/connectors/postgres-cdc.md
  docs/content/connectors/sqlserver-cdc.md
  docs/content/connectors/tidb-cdc.md
  docs/content/connectors/vitess-cdc.md
  docs/content/overview/cdc-connectors.md
  docs/content/quickstart/build-real-time-data-lake-tutorial.md
  docs/content/quickstart/db2-tutorial.md
  docs/content/quickstart/mongodb-tutorial.md
  docs/content/quickstart/mysql-postgres-tutorial.md
  docs/content/quickstart/oceanbase-tutorial.md
  docs/content/quickstart/oracle-tutorial.md
  docs/content/quickstart/polardbx-tutorial.md
  docs/content/quickstart/sqlserver-tutorial.md
  docs/content/quickstart/tidb-tutorial.md
  docs/content/快速上手/build-real-time-data-lake-tutorial-zh.md
  docs/content/快速上手/mongodb-tutorial-zh.md
  docs/content/快速上手/mysql-postgres-tutorial-zh.md
  docs/content/快速上手/oceanbase-tutorial-zh.md
  docs/content/快速上手/oracle-tutorial-zh.md
  docs/content/快速上手/polardbx-tutorial-zh.md
  docs/content/快速上手/sqlserver-tutorial-zh.md
  docs/content/快速上手/tidb-tutorial-zh.md
Labels: docs

#2994 [doc] update doc version description
  docs/content/connectors/db2-cdc.md
  docs/content/connectors/mongodb-cdc(ZH).md
  docs/content/connectors/mongodb-cdc.md
  docs/content/connectors/mysql-cdc(ZH).md
  docs/content/connectors/mysql-cdc.md
  docs/content/connectors/oceanbase-cdc(ZH).md
  docs/content/connectors/oceanbase-cdc.md
  docs/content/connectors/oracle-cdc.md
  docs/content/connectors/postgres-cdc.md
  docs/content/connectors/sqlserver-cdc.md
  docs/content/connectors/tidb-cdc.md
  docs/content/connectors/vitess-cdc.md
  docs/content/overview/cdc-connectors.md
  docs/content/quickstart/build-real-time-data-lake-tutorial.md
  docs/content/quickstart/db2-tutorial.md
  docs/content/quickstart/mongodb-tutorial.md
Labels: docs

#2986 [hotfix][cdc-connector][mysql] skip SchemaChangeEvents that were not included in capturedTableFilter.
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/java/com/ververica/cdc/connectors/mysql/source/MySqlPipelineITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/com/ververica/cdc/connectors/mysql/debezium/reader/BinlogSplitReader.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/com/ververica/cdc/connectors/mysql/source/utils/RecordUtils.java
Labels: mysql-cdc-connector, mysql-pipeline-connector

#3000 [BP-2986] skip SchemaChangeEvents that were not included in capturedTableFilter.
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/java/com/ververica/cdc/connectors/mysql/source/MySqlPipelineITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/com/ververica/cdc/connectors/mysql/debezium/reader/BinlogSplitReader.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/com/ververica/cdc/connectors/mysql/source/utils/RecordUtils.java
Labels: mysql-cdc-connector

#2842 [hotfix][postgres] Apply DBZ-5398 postgres connector fix
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/io/debezium/connector/postgresql/connection/PostgresConnection.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/test/java/com/ververica/cdc/connectors/postgres/PostgresTestBase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/test/java/com/ververica/cdc/connectors/postgres/source/PostgresSourceITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/test/java/com/ververica/cdc/connectors/postgres/table/PostgreSQLConnectorITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/test/resources/ddl/column_type_test.sql
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/test/resources/ddl/index_type_test.sql
Labels: postgres-cdc-connector

#2539 [postgres] Fix data lost problem when new lsn committed to slot between snapshotState and notifyCheckpointComplete
  flink-cdc-connect/flink-cdc-source-connectors/flink-cdc-base/src/main/java/com/ververica/cdc/connectors/base/dialect/DataSourceDialect.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-cdc-base/src/main/java/com/ververica/cdc/connectors/base/source/IncrementalSource.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-cdc-base/src/main/java/com/ververica/cdc/connectors/base/source/reader/IncrementalSourceReader.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-cdc-base/src/main/java/com/ververica/cdc/connectors/base/source/reader/IncrementalSourceReaderWithCommit.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/com/ververica/cdc/connectors/postgres/source/PostgresDialect.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/com/ververica/cdc/connectors/postgres/source/PostgresSourceBuilder.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/com/ververica/cdc/connectors/postgres/source/fetch/PostgresStreamFetchTask.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/test/java/com/ververica/cdc/connectors/postgres/source/MockPostgresDialect.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/test/java/com/ververica/cdc/connectors/postgres/source/PostgresSourceITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/test/java/com/ververica/cdc/connectors/postgres/table/MockPostgreSQLTableFactory.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/test/java/com/ververica/cdc/connectors/postgres/table/MockPostgreSQLTableSource.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/test/resources/META-INF/services/org.apache.flink.table.factories.Factory
Labels: base, postgres-cdc-connector

#3029 [cdc-connector][mongodb][hotfix] Close stream fetcher task in MongoDBStreamFetchTask.close
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/main/java/com/ververica/cdc/connectors/mongodb/source/reader/fetch/MongoDBStreamFetchTask.java
Labels: mongodb-cdc-connector

#2888 [cdc-common][cdc-pipelines][cdc-runtime] Use name instead of column in DropColumnEvent/AddColumnEvent.
  flink-cdc-common/src/main/java/com/ververica/cdc/common/event/AddColumnEvent.java
  flink-cdc-common/src/main/java/com/ververica/cdc/common/event/DropColumnEvent.java
  flink-cdc-common/src/main/java/com/ververica/cdc/common/utils/SchemaUtils.java
  flink-cdc-common/src/test/java/com/ververica/cdc/common/testutils/assertions/DropColumnEventAssert.java
  flink-cdc-common/src/test/java/com/ververica/cdc/common/utils/SchemaUtilsTest.java
  flink-cdc-composer/src/test/java/com/ververica/cdc/composer/flink/FlinkPipelineComposerITCase.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/main/java/com/ververica/cdc/connectors/doris/sink/DorisMetadataApplier.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/main/java/com/ververica/cdc/connectors/mysql/source/parser/CustomAlterTableParserListener.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/java/com/ververica/cdc/connectors/mysql/source/MySqlPipelineITCase.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-starrocks/src/main/java/com/ververica/cdc/connectors/starrocks/sink/StarRocksMetadataApplier.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-starrocks/src/test/java/com/ververical/cdc/connectors/starrocks/sink/EventRecordSerializationSchemaTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-starrocks/src/test/java/com/ververical/cdc/connectors/starrocks/sink/StarRocksMetadataApplierTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-values/src/main/java/com/ververica/cdc/connectors/values/ValuesDatabase.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-values/src/main/java/com/ververica/cdc/connectors/values/source/ValuesDataSourceHelper.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-values/src/test/java/com/ververica/cdc/connectors/values/ValuesDatabaseTest.java
  flink-cdc-runtime/src/main/java/com/ververica/cdc/runtime/operators/route/RouteFunction.java
  flink-cdc-runtime/src/main/java/com/ververica/cdc/runtime/serializer/event/DropColumnEventSerializer.java
  flink-cdc-runtime/src/main/java/com/ververica/cdc/runtime/serializer/schema/ColumnWithPositionSerializer.java
  flink-cdc-runtime/src/test/java/com/ververica/cdc/runtime/operators/route/RouteFunctionTest.java
  flink-cdc-runtime/src/test/java/com/ververica/cdc/runtime/operators/schema/coordinator/SchemaManagerTest.java
  flink-cdc-runtime/src/test/java/com/ververica/cdc/runtime/serializer/event/AddColumnEventSerializerTest.java
  flink-cdc-runtime/src/test/java/com/ververica/cdc/runtime/serializer/event/DropColumnEventSerializerTest.java
  flink-cdc-runtime/src/test/java/com/ververica/cdc/runtime/serializer/event/SchemaChangeEventSerializerTest.java
  flink-cdc-runtime/src/test/java/com/ververica/cdc/runtime/serializer/schema/ColumnWithPositionSerializerTest.java
Labels: values-pipeline-connector, composer, common, runtime, mysql-pipeline-connector, doris-pipeline-connector, starrocks-pipeline-connector

#3013 [cdc-connector][Postgres][hotfix] Fix postgresSQL database connection leak
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/com/ververica/cdc/connectors/postgres/source/fetch/PostgresSourceFetchTaskContext.java
Labels: postgres-cdc-connector

#2972 [cdc-connector][sqlserver] sqlserver support use specific chunk column as a split key
  docs/content/connectors/sqlserver-cdc.md
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-oracle-cdc/src/test/java/com/ververica/cdc/connectors/oracle/source/OracleSourceITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/test/java/com/ververica/cdc/connectors/postgres/source/PostgresSourceITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-sqlserver-cdc/src/main/java/com/ververica/cdc/connectors/sqlserver/source/dialect/SqlServerChunkSplitter.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-sqlserver-cdc/src/main/java/com/ververica/cdc/connectors/sqlserver/source/reader/fetch/SqlServerSourceFetchTaskContext.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-sqlserver-cdc/src/main/java/com/ververica/cdc/connectors/sqlserver/source/utils/SqlServerUtils.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-sqlserver-cdc/src/test/java/com/ververica/cdc/connectors/sqlserver/source/SqlServerSourceITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-sqlserver-cdc/src/test/java/com/ververica/cdc/connectors/sqlserver/table/SqlServerConnectorITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-sqlserver-cdc/src/test/resources/ddl/customer.sql
Labels: docs, oracle-cdc-connector, postgres-cdc-connector, sqlserver-cdc-connector

#3034 [debezium] Upgrade to Debezium 1.9.8.Final
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/main/java/com/ververica/cdc/connectors/mysql/source/parser/CustomAlterTableParserListener.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/main/java/com/ververica/cdc/connectors/mysql/source/parser/CustomMySqlAntlrDdlParserListener.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-debezium/src/main/java/io/debezium/relational/RelationalChangeRecordEmitter.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/io/debezium/connector/mysql/MySqlConnection.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/io/debezium/connector/mysql/MySqlDefaultValueConverter.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/io/debezium/connector/mysql/MySqlStreamingChangeEventSource.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/io/debezium/connector/mysql/MySqlValueConverters.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/io/debezium/connector/mysql/antlr/listener/DefaultValueParserListener.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-oracle-cdc/src/main/java/io/debezium/connector/oracle/OracleConnection.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-oracle-cdc/src/main/java/io/debezium/connector/oracle/logminer/LogMinerAdapter.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-oracle-cdc/src/main/java/io/debezium/connector/oracle/logminer/LogMinerChangeRecordEmitter.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-oracle-cdc/src/main/java/io/debezium/connector/oracle/logminer/LogMinerStreamingChangeEventSource.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-oracle-cdc/src/main/java/io/debezium/connector/oracle/logminer/processor/AbstractLogMinerEventProcessor.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/io/debezium/connector/postgresql/PostgresStreamingChangeEventSource.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/io/debezium/connector/postgresql/connection/Lsn.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/io/debezium/connector/postgresql/connection/PostgresConnection.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/io/debezium/connector/postgresql/connection/PostgresReplicationConnection.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-sqlserver-cdc/src/main/java/io/debezium/connector/sqlserver/SqlServerStreamingChangeEventSource.java
  pom.xml
Labels: build, mysql-cdc-connector, oracle-cdc-connector, postgres-cdc-connector, sqlserver-cdc-connector, mysql-pipeline-connector

#3012 [fix][cdc-connector][mongo] Fix scanFullChangelog requires all collections (#3008)
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/main/java/com/ververica/cdc/connectors/mongodb/source/utils/MongoUtils.java
Labels: mongodb-cdc-connector
