Repository apache/flink-cdc, pull requests merged in 2024-10, with the labels that each got.

#3575 [FLINK-36151] Add schema evolution related docs
  docs/content.zh/docs/core-concept/schema-evolution.md
  docs/content/docs/core-concept/schema-evolution.md
Labels: docs, reviewed, approved

#3594 [FLINK-36214] Downgrade scala-maven-plugin version to 4.8.0 to keep compatibility with Java 8
  flink-cdc-pipeline-udf-examples/pom.xml
Labels: reviewed, approved

#3631 [FLINK-36463][cdc][mysql] Forbid to override some debezium options
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/table/MySqlTableSource.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/mysql/table/MySqlTableSourceFactoryTest.java
Labels: mysql-cdc-connector, reviewed, approved

#3595 [FLINK-36211][pipeline-connector/kafka] shade org.apache.flink.streaming.connectors.kafka
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/pom.xml
Labels: kafka-pipeline-connector, reviewed, approved

#3289 [FLINK-35291] Improve the ROW data deserialization performance of DebeziumEventDeserializationScheme
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/typeutils/BinaryRecordDataGenerator.java
Labels: runtime, reviewed, Stale, approved

#3588 [FLINK-36174][hotfix] CDC yaml without pipeline should not throw exception.
  flink-cdc-cli/src/main/java/org/apache/flink/cdc/cli/parser/YamlPipelineDefinitionParser.java
  flink-cdc-cli/src/test/java/org/apache/flink/cdc/cli/parser/YamlPipelineDefinitionParserTest.java
  flink-cdc-cli/src/test/resources/definitions/pipeline-definition-minimized.yaml
Labels: cli, reviewed, approved
