Repository apache/flink-cdc, pull requests merged in 2024-06, with the labels that each got.

#3313 [FLINK-35323][runtime] Fix transform failure when one rule matches multiple tables with incompatible schema
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/java/org/apache/flink/cdc/pipeline/tests/TransformE2eITCase.java
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/operators/transform/TransformDataOperator.java
Labels: runtime, e2e-tests

#3312 [BP-3.1][FLINK-35323][runtime] Fix transform failure when one rule matches multiple schemas
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/java/org/apache/flink/cdc/pipeline/tests/TransformE2eITCase.java
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/operators/transform/TransformDataOperator.java
Labels: runtime, e2e-tests

#3371 [BP-3.1][FLINK-35408][mysql] Introduce 30 minutes tolerance when validating time-zone setting
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/MySqlValidator.java
Labels: mysql-cdc-connector

#3372 [BP-3.1][FLINK-35301][cdc] Avoid deadlock when loading driver classes
  flink-cdc-connect/flink-cdc-source-connectors/flink-cdc-base/src/main/java/org/apache/flink/cdc/connectors/base/relational/connection/JdbcConnectionPoolFactory.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/io/debezium/connector/mysql/MySqlConnection.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/source/connection/PooledDataSourceFactory.java
Labels: mysql-cdc-connector, base

#3373 [BP-3.1][FLINK-35294][mysql] Use source config to check if the filter should be applied in timestamp starting mode
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/debezium/reader/BinlogSplitReader.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/debezium/task/MySqlBinlogSplitReadTask.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/mysql/debezium/reader/BinlogSplitReaderTest.java
Labels: mysql-cdc-connector

#3349 [FLINK-35129][cdc][postgres] Add checkpoint cycle option for commit offsets
  docs/content/docs/connectors/flink-sources/postgres-cdc.md
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/org/apache/flink/cdc/connectors/postgres/source/PostgresDialect.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/org/apache/flink/cdc/connectors/postgres/source/PostgresSourceBuilder.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/org/apache/flink/cdc/connectors/postgres/source/config/PostgresSourceConfig.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/org/apache/flink/cdc/connectors/postgres/source/config/PostgresSourceConfigFactory.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/org/apache/flink/cdc/connectors/postgres/source/config/PostgresSourceOptions.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/org/apache/flink/cdc/connectors/postgres/source/reader/PostgresSourceReader.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/org/apache/flink/cdc/connectors/postgres/table/PostgreSQLTableFactory.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/org/apache/flink/cdc/connectors/postgres/table/PostgreSQLTableSource.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/test/java/org/apache/flink/cdc/connectors/postgres/PostgresTestBase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/test/java/org/apache/flink/cdc/connectors/postgres/source/PostgresSourceITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/test/java/org/apache/flink/cdc/connectors/postgres/source/reader/PostgresSourceReaderTest.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/test/java/org/apache/flink/cdc/connectors/postgres/table/MockPostgreSQLTableSource.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/test/java/org/apache/flink/cdc/connectors/postgres/table/PostgreSQLTableFactoryTest.java
Labels: docs, postgres-cdc-connector

#3323 [FLINK-35325][cdc-connector][paimon]Support for specifying column order.
  flink-cdc-common/src/main/java/org/apache/flink/cdc/common/event/AddColumnEvent.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/org/apache/flink/cdc/connectors/paimon/sink/PaimonMetadataApplier.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/org/apache/flink/cdc/connectors/paimon/sink/SchemaChangeProvider.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/test/java/org/apache/flink/cdc/connectors/paimon/sink/PaimonMetadataApplierTest.java
Labels: common

#2987 [build] fix jackson conflicts among cdc connectors
  pom.xml
Labels: build

#3383 [docs] Improve the readme and issue template
  .github/ISSUE_TEMPLATE/issue-notice.yml
  README.md
Labels: docs, build

#3343 [FLINK-35527][docs] Polish quickstart guide & migrate maven links from ververica to apache
  docs/content.zh/docs/connectors/flink-sources/db2-cdc.md
  docs/content.zh/docs/connectors/flink-sources/mongodb-cdc.md
  docs/content.zh/docs/connectors/flink-sources/mysql-cdc.md
  docs/content.zh/docs/connectors/flink-sources/oceanbase-cdc.md
  docs/content.zh/docs/connectors/flink-sources/oracle-cdc.md
  docs/content.zh/docs/connectors/flink-sources/postgres-cdc.md
  docs/content.zh/docs/connectors/flink-sources/sqlserver-cdc.md
  docs/content.zh/docs/connectors/flink-sources/tidb-cdc.md
  docs/content.zh/docs/connectors/flink-sources/tutorials/build-real-time-data-lake-tutorial.md
  docs/content.zh/docs/connectors/flink-sources/tutorials/build-streaming-etl-tutorial.md
  docs/content.zh/docs/connectors/flink-sources/tutorials/mongodb-tutorial.md
  docs/content.zh/docs/connectors/flink-sources/tutorials/oceanbase-tutorial.md
  docs/content.zh/docs/connectors/flink-sources/tutorials/oracle-tutorial.md
  docs/content.zh/docs/connectors/flink-sources/tutorials/polardbx-tutorial.md
  docs/content.zh/docs/connectors/flink-sources/tutorials/sqlserver-tutorial.md
  docs/content.zh/docs/connectors/flink-sources/tutorials/tidb-tutorial.md
  docs/content.zh/docs/connectors/flink-sources/vitess-cdc.md
  docs/content.zh/docs/get-started/quickstart/mysql-to-doris.md
  docs/content.zh/docs/get-started/quickstart/mysql-to-starrocks.md
  docs/content/docs/connectors/flink-sources/db2-cdc.md
  docs/content/docs/connectors/flink-sources/mongodb-cdc.md
  docs/content/docs/connectors/flink-sources/mysql-cdc.md
  docs/content/docs/connectors/flink-sources/oceanbase-cdc.md
  docs/content/docs/connectors/flink-sources/oracle-cdc.md
  docs/content/docs/connectors/flink-sources/postgres-cdc.md
  docs/content/docs/connectors/flink-sources/sqlserver-cdc.md
  docs/content/docs/connectors/flink-sources/tidb-cdc.md
  docs/content/docs/connectors/flink-sources/vitess-cdc.md
  docs/content/docs/get-started/quickstart/mysql-to-doris.md
  docs/content/docs/get-started/quickstart/mysql-to-starrocks.md
Labels: docs

#3391 [BP-3.1][FLINK-35527][docs] Polish quickstart guide & migrate maven links from ververica to apache
  docs/content.zh/docs/connectors/flink-sources/db2-cdc.md
  docs/content.zh/docs/connectors/flink-sources/mongodb-cdc.md
  docs/content.zh/docs/connectors/flink-sources/mysql-cdc.md
  docs/content.zh/docs/connectors/flink-sources/oceanbase-cdc.md
  docs/content.zh/docs/connectors/flink-sources/oracle-cdc.md
  docs/content.zh/docs/connectors/flink-sources/postgres-cdc.md
  docs/content.zh/docs/connectors/flink-sources/sqlserver-cdc.md
  docs/content.zh/docs/connectors/flink-sources/tidb-cdc.md
  docs/content.zh/docs/connectors/flink-sources/tutorials/build-real-time-data-lake-tutorial.md
  docs/content.zh/docs/connectors/flink-sources/tutorials/build-streaming-etl-tutorial.md
  docs/content.zh/docs/connectors/flink-sources/tutorials/mongodb-tutorial.md
  docs/content.zh/docs/connectors/flink-sources/tutorials/oceanbase-tutorial.md
  docs/content.zh/docs/connectors/flink-sources/tutorials/oracle-tutorial.md
  docs/content.zh/docs/connectors/flink-sources/tutorials/polardbx-tutorial.md
  docs/content.zh/docs/connectors/flink-sources/tutorials/sqlserver-tutorial.md
  docs/content.zh/docs/connectors/flink-sources/tutorials/tidb-tutorial.md
  docs/content.zh/docs/connectors/flink-sources/vitess-cdc.md
  docs/content.zh/docs/get-started/quickstart/mysql-to-doris.md
  docs/content.zh/docs/get-started/quickstart/mysql-to-starrocks.md
  docs/content/docs/connectors/flink-sources/db2-cdc.md
  docs/content/docs/connectors/flink-sources/mongodb-cdc.md
  docs/content/docs/connectors/flink-sources/mysql-cdc.md
  docs/content/docs/connectors/flink-sources/oceanbase-cdc.md
  docs/content/docs/connectors/flink-sources/oracle-cdc.md
  docs/content/docs/connectors/flink-sources/postgres-cdc.md
  docs/content/docs/connectors/flink-sources/sqlserver-cdc.md
  docs/content/docs/connectors/flink-sources/tidb-cdc.md
  docs/content/docs/connectors/flink-sources/vitess-cdc.md
  docs/content/docs/get-started/quickstart/mysql-to-doris.md
  docs/content/docs/get-started/quickstart/mysql-to-starrocks.md
Labels: docs

#3369 [FLINK-35464] Fixes operator state backwards compatibility from CDC 3.0.x
  .github/labeler.yml
  .github/workflows/flink_cdc.yml
  flink-cdc-migration-tests/flink-cdc-migration-testcases/pom.xml
  flink-cdc-migration-tests/flink-cdc-migration-testcases/src/test/java/org/apache/flink/cdc/migration/tests/MigrationTestBase.java
  flink-cdc-migration-tests/flink-cdc-migration-testcases/src/test/java/org/apache/flink/cdc/migration/tests/SchemaManagerMigrationTest.java
  flink-cdc-migration-tests/flink-cdc-migration-testcases/src/test/java/org/apache/flink/cdc/migration/tests/SchemaRegistryMigrationTest.java
  flink-cdc-migration-tests/flink-cdc-migration-testcases/src/test/java/org/apache/flink/cdc/migration/tests/TableChangeInfoMigrationTest.java
  flink-cdc-migration-tests/flink-cdc-migration-testcases/src/test/resources/log4j2-test.properties
  flink-cdc-migration-tests/flink-cdc-release-3.0.0/pom.xml
  flink-cdc-migration-tests/flink-cdc-release-3.0.0/src/main/java/com/ververica/cdc/migration/tests/MigrationMockBase.java
  flink-cdc-migration-tests/flink-cdc-release-3.0.0/src/main/java/com/ververica/cdc/migration/tests/SchemaManagerMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-3.0.0/src/main/java/com/ververica/cdc/migration/tests/SchemaRegistryMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-3.0.1/pom.xml
  flink-cdc-migration-tests/flink-cdc-release-3.0.1/src/main/java/com/ververica/cdc/migration/tests/MigrationMockBase.java
  flink-cdc-migration-tests/flink-cdc-release-3.0.1/src/main/java/com/ververica/cdc/migration/tests/SchemaManagerMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-3.0.1/src/main/java/com/ververica/cdc/migration/tests/SchemaRegistryMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-3.1.0/pom.xml
  flink-cdc-migration-tests/flink-cdc-release-3.1.0/src/main/java/org/apache/flink/cdc/migration/tests/MigrationMockBase.java
  flink-cdc-migration-tests/flink-cdc-release-3.1.0/src/main/java/org/apache/flink/cdc/migration/tests/SchemaManagerMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-3.1.0/src/main/java/org/apache/flink/cdc/migration/tests/SchemaRegistryMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-3.1.0/src/main/java/org/apache/flink/cdc/migration/tests/TableChangeInfoMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-snapshot/pom.xml
  flink-cdc-migration-tests/flink-cdc-release-snapshot/src/main/java/org/apache/flink/cdc/migration/tests/MigrationMockBase.java
  flink-cdc-migration-tests/flink-cdc-release-snapshot/src/main/java/org/apache/flink/cdc/migration/tests/SchemaManagerMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-snapshot/src/main/java/org/apache/flink/cdc/migration/tests/SchemaRegistryMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-snapshot/src/main/java/org/apache/flink/cdc/migration/tests/TableChangeInfoMigrationMock.java
  flink-cdc-migration-tests/pom.xml
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/operators/schema/coordinator/SchemaManager.java
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/operators/schema/coordinator/SchemaRegistry.java
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/operators/transform/TableChangeInfo.java
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/serializer/schema/SchemaSerializer.java
  flink-cdc-runtime/src/test/java/org/apache/flink/cdc/runtime/operators/schema/coordinator/SchemaManagerTest.java
Labels: runtime, build

#3387 [BP-3.1.1][FLINK-35149][cdc-composer] Fix DataSinkTranslator#sinkTo ignoring pre-write topology if not TwoPhaseCommittingSink (#3233)
  flink-cdc-composer/src/main/java/org/apache/flink/cdc/composer/flink/translator/DataSinkTranslator.java
  flink-cdc-composer/src/test/java/org/apache/flink/cdc/composer/flink/translator/DataSinkTranslatorTest.java
Labels: composer

#3207 [FLINK-34908][pipeline-connector][doris] Fix Mysql pipeline to doris will lost precision for timestamp
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/main/java/org/apache/flink/cdc/connectors/doris/sink/DorisEventSerializer.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/test/java/org/apache/flink/cdc/connectors/doris/sink/DorisRowConverterTest.java
Labels: doris-pipeline-connector

#3326 [BP-3.0][minor][cdc][docs] Optimize markdown formats in doris quickstart doc
  docs/content.zh/docs/get-started/quickstart/mysql-to-doris.md
Labels: docs

#3325 [BP-3.1][minor][cdc][docs] Optimize markdown formats in doris quickstart doc
  docs/content.zh/docs/get-started/quickstart/mysql-to-doris.md
Labels: docs

#3394 [hotfix][cdc-composor] adjust test of cdc composer from junit4 to junit5
  flink-cdc-composer/src/test/java/org/apache/flink/cdc/composer/flink/FlinkPipelineComposerTest.java
  flink-cdc-composer/src/test/java/org/apache/flink/cdc/composer/flink/translator/DataSinkTranslatorTest.java
  flink-cdc-composer/src/test/java/org/apache/flink/cdc/composer/flink/translator/DataSourceTranslatorTest.java
Labels: composer

#3344 [hotfix][ci] CI `compile_and_test` add pipeline connector paimon
  .github/workflows/flink_cdc.yml
Labels: build

#3397 [hotfix] Remove test-jar from parent pom and only add to necessary modules
  flink-cdc-common/pom.xml
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/pom.xml
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/pom.xml
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-starrocks/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-db2-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-oracle-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-sqlserver-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-tidb-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-vitess-cdc/pom.xml
  flink-cdc-e2e-tests/flink-cdc-e2e-utils/pom.xml
  pom.xml
Labels: common, mongodb-cdc-connector, build, mysql-cdc-connector, oracle-cdc-connector, sqlserver-cdc-connector, e2e-tests, vitess-cdc-connector, db2-cdc-connector, mysql-pipeline-connector, doris-pipeline-connector, starrocks-pipeline-connector, tidb-cdc-connector

#3370 [BP-3.1][FLINK-35464] Fixes operator state backwards compatibility from CDC 3.0.x
  .github/labeler.yml
  .github/workflows/flink_cdc.yml
  flink-cdc-migration-tests/flink-cdc-migration-testcases/pom.xml
  flink-cdc-migration-tests/flink-cdc-migration-testcases/src/test/java/org/apache/flink/cdc/migration/tests/MigrationTestBase.java
  flink-cdc-migration-tests/flink-cdc-migration-testcases/src/test/java/org/apache/flink/cdc/migration/tests/SchemaManagerMigrationTest.java
  flink-cdc-migration-tests/flink-cdc-migration-testcases/src/test/java/org/apache/flink/cdc/migration/tests/SchemaRegistryMigrationTest.java
  flink-cdc-migration-tests/flink-cdc-migration-testcases/src/test/java/org/apache/flink/cdc/migration/tests/TableChangeInfoMigrationTest.java
  flink-cdc-migration-tests/flink-cdc-migration-testcases/src/test/resources/log4j2-test.properties
  flink-cdc-migration-tests/flink-cdc-release-3.0.0/pom.xml
  flink-cdc-migration-tests/flink-cdc-release-3.0.0/src/main/java/com/ververica/cdc/migration/tests/MigrationMockBase.java
  flink-cdc-migration-tests/flink-cdc-release-3.0.0/src/main/java/com/ververica/cdc/migration/tests/SchemaManagerMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-3.0.0/src/main/java/com/ververica/cdc/migration/tests/SchemaRegistryMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-3.0.1/pom.xml
  flink-cdc-migration-tests/flink-cdc-release-3.0.1/src/main/java/com/ververica/cdc/migration/tests/MigrationMockBase.java
  flink-cdc-migration-tests/flink-cdc-release-3.0.1/src/main/java/com/ververica/cdc/migration/tests/SchemaManagerMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-3.0.1/src/main/java/com/ververica/cdc/migration/tests/SchemaRegistryMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-3.1.0/pom.xml
  flink-cdc-migration-tests/flink-cdc-release-3.1.0/src/main/java/org/apache/flink/cdc/migration/tests/MigrationMockBase.java
  flink-cdc-migration-tests/flink-cdc-release-3.1.0/src/main/java/org/apache/flink/cdc/migration/tests/SchemaManagerMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-3.1.0/src/main/java/org/apache/flink/cdc/migration/tests/SchemaRegistryMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-3.1.0/src/main/java/org/apache/flink/cdc/migration/tests/TableChangeInfoMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-snapshot/pom.xml
  flink-cdc-migration-tests/flink-cdc-release-snapshot/src/main/java/org/apache/flink/cdc/migration/tests/MigrationMockBase.java
  flink-cdc-migration-tests/flink-cdc-release-snapshot/src/main/java/org/apache/flink/cdc/migration/tests/SchemaManagerMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-snapshot/src/main/java/org/apache/flink/cdc/migration/tests/SchemaRegistryMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-snapshot/src/main/java/org/apache/flink/cdc/migration/tests/TableChangeInfoMigrationMock.java
  flink-cdc-migration-tests/pom.xml
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/operators/schema/coordinator/SchemaManager.java
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/operators/schema/coordinator/SchemaRegistry.java
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/operators/transform/TableChangeInfo.java
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/serializer/schema/SchemaSerializer.java
  flink-cdc-runtime/src/test/java/org/apache/flink/cdc/runtime/operators/schema/coordinator/SchemaManagerTest.java
Labels: runtime, build

#3402 [BP-3.1][FLINK-35545][doc] Revert dbz doc 2.0 back to 1.9
  docs/content.zh/docs/connectors/flink-sources/db2-cdc.md
  docs/content.zh/docs/connectors/flink-sources/mysql-cdc.md
  docs/content.zh/docs/connectors/flink-sources/oracle-cdc.md
  docs/content.zh/docs/connectors/flink-sources/overview.md
  docs/content.zh/docs/connectors/flink-sources/postgres-cdc.md
  docs/content.zh/docs/connectors/flink-sources/sqlserver-cdc.md
  docs/content.zh/docs/connectors/pipeline-connectors/mysql.md
  docs/content/docs/connectors/flink-sources/db2-cdc.md
  docs/content/docs/connectors/flink-sources/mysql-cdc.md
  docs/content/docs/connectors/flink-sources/oracle-cdc.md
  docs/content/docs/connectors/flink-sources/overview.md
  docs/content/docs/connectors/flink-sources/postgres-cdc.md
  docs/content/docs/connectors/flink-sources/sqlserver-cdc.md
  docs/content/docs/connectors/pipeline-connectors/mysql.md
Labels: docs

#3403 [BP-3.0][FLINK-35545][doc] Revert dbz doc 2.0 back to 1.9
  docs/content.zh/docs/connectors/flink-sources/db2-cdc.md
  docs/content.zh/docs/connectors/flink-sources/mysql-cdc.md
  docs/content.zh/docs/connectors/flink-sources/oracle-cdc.md
  docs/content.zh/docs/connectors/flink-sources/overview.md
  docs/content.zh/docs/connectors/flink-sources/postgres-cdc.md
  docs/content.zh/docs/connectors/flink-sources/sqlserver-cdc.md
  docs/content.zh/docs/connectors/pipeline-connectors/mysql.md
  docs/content/docs/connectors/flink-sources/db2-cdc.md
  docs/content/docs/connectors/flink-sources/mysql-cdc.md
  docs/content/docs/connectors/flink-sources/oracle-cdc.md
  docs/content/docs/connectors/flink-sources/overview.md
  docs/content/docs/connectors/flink-sources/postgres-cdc.md
  docs/content/docs/connectors/flink-sources/sqlserver-cdc.md
  docs/content/docs/connectors/pipeline-connectors/mysql.md
Labels: docs

#3396 [FLINK-35540][cdc-common][cdc-connector][mysql] fix lost table when database and table are with the same name
  flink-cdc-common/src/main/java/org/apache/flink/cdc/common/schema/Selectors.java
  flink-cdc-common/src/main/java/org/apache/flink/cdc/common/utils/Predicates.java
  flink-cdc-common/src/test/java/org/apache/flink/cdc/common/schema/SelectorsTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/java/org/apache/flink/cdc/connectors/mysql/source/MySqlDataSourceFactoryTest.java
Labels: common, mysql-pipeline-connector

#3408 [BP-3.1][FLINK-35545][doc] Miss 3.1.0 version in snapshot flink-cdc doc version list
  docs/config.toml
Labels: docs

#3407 [pipeline-connector][doris] Fix Mysql pipeline to doris will lost precision for timestamp
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/main/java/org/apache/flink/cdc/connectors/doris/sink/DorisEventSerializer.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/test/java/org/apache/flink/cdc/connectors/doris/sink/DorisRowConverterTest.java
Labels: doris-pipeline-connector

#3409 [FLINK-35540][cdc-common] Fix table missed when database and table are with the same name in release-3.1.1
  flink-cdc-common/src/main/java/org/apache/flink/cdc/common/schema/Selectors.java
  flink-cdc-common/src/main/java/org/apache/flink/cdc/common/utils/Predicates.java
  flink-cdc-common/src/test/java/org/apache/flink/cdc/common/schema/SelectorsTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/java/org/apache/flink/cdc/connectors/mysql/source/MySqlDataSourceFactoryTest.java
Labels: common, mysql-pipeline-connector

#3380 [BP-3.1][FLINK-35592] Fix MysqlDebeziumTimeConverter miss timezone convert to timestamp
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/io/debezium/connector/mysql/converters/MysqlDebeziumTimeConverter.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/mysql/debezium/converters/MysqlDebeziumTimeConverterITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/resources/ddl/date_convert_test.sql
Labels: mysql-cdc-connector

#3382 [FLINK-35121][common] Adds validation for pipeline definition options
  docs/content.zh/docs/connectors/pipeline-connectors/mysql.md
  docs/content/docs/connectors/pipeline-connectors/mysql.md
  flink-cdc-cli/src/test/java/org/apache/flink/cdc/cli/CliFrontendTest.java
  flink-cdc-cli/src/test/java/org/apache/flink/cdc/cli/parser/YamlPipelineDefinitionParserTest.java
  flink-cdc-cli/src/test/resources/definitions/pipeline-definition-full.yaml
  flink-cdc-cli/src/test/resources/definitions/pipeline-definition-minimized.yaml
  flink-cdc-cli/src/test/resources/global-config/global-config.yaml
  flink-cdc-common/src/main/java/org/apache/flink/cdc/common/configuration/Configuration.java
  flink-cdc-common/src/main/java/org/apache/flink/cdc/common/factories/FactoryHelper.java
  flink-cdc-common/src/test/java/org/apache/flink/cdc/common/factories/FactoryHelperTests.java
  flink-cdc-composer/src/main/java/org/apache/flink/cdc/composer/definition/PipelineDef.java
  flink-cdc-composer/src/test/java/org/apache/flink/cdc/composer/definition/PipelineValidationTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/main/java/org/apache/flink/cdc/connectors/doris/factory/DorisDataSinkFactory.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/main/java/org/apache/flink/cdc/connectors/kafka/sink/KafkaDataSinkFactory.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/test/java/org/apache/flink/cdc/connectors/kafka/sink/KafkaDataSinkFactoryTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/main/java/org/apache/flink/cdc/connectors/mysql/factory/MySqlDataSourceFactory.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/java/org/apache/flink/cdc/connectors/mysql/source/MySqlDataSourceFactoryTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/org/apache/flink/cdc/connectors/paimon/sink/PaimonDataSinkFactory.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/org/apache/flink/cdc/connectors/paimon/sink/PaimonDataSinkOptions.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/test/java/org/apache/flink/cdc/connectors/paimon/sink/PaimonDataSinkFactoryTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-starrocks/src/main/java/org/apache/flink/cdc/connectors/starrocks/sink/StarRocksDataSinkFactory.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-starrocks/src/test/java/org/apache/flink/cdc/connectors/starrocks/sink/StarRocksDataSinkFactoryTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-values/src/main/java/org/apache/flink/cdc/connectors/values/factory/ValuesDataFactory.java
Labels: docs, values-pipeline-connector, composer, common, cli, mysql-pipeline-connector, doris-pipeline-connector, starrocks-pipeline-connector

#3295 [FLINK-35297][mysql] Add validation for option connect.timeout
  docs/content.zh/docs/connectors/flink-sources/mysql-cdc.md
  docs/content.zh/docs/connectors/pipeline-connectors/mysql.md
  docs/content/docs/connectors/flink-sources/mysql-cdc.md
  docs/content/docs/connectors/pipeline-connectors/mysql.md
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/source/config/MySqlSourceOptions.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/table/MySqlTableSourceFactory.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/mysql/table/MySqlTableSourceFactoryTest.java
Labels: docs, mysql-cdc-connector

#3340 [hotfix][ci] Add new pipeline connectors into `labeler.yml`
  .github/labeler.yml
Labels: build

#3425 [FLINK-35648][runtime] Allow applying multiple route rules for one single source table
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/java/org/apache/flink/cdc/pipeline/tests/RouteE2eITCase.java
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/resources/ddl/route_test.sql
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/operators/schema/SchemaOperator.java
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/operators/schema/coordinator/SchemaDerivation.java
Labels: runtime, e2e-tests

#3423 [docs][minor] Optimize styles of the Flink CDC index page
  docs/assets/_custom.scss
  docs/content.zh/_index.md
  docs/content/_index.md
Labels: docs

#3422 [docs][minor] Optimize styles of the Flink CDC index page
  docs/assets/_custom.scss
  docs/content.zh/_index.md
  docs/content/_index.md
Labels: docs

#3435 [FLINK-35700][cli] Loosen CDC pipeline options validation
  flink-cdc-composer/src/main/java/org/apache/flink/cdc/composer/definition/PipelineDef.java
  flink-cdc-composer/src/test/java/org/apache/flink/cdc/composer/definition/PipelineValidationTest.java
Labels: composer
