Repository apache/flink-cdc, pull requests merged in 2024-07, with the labels that each got.

#3301 [FLINK-35281][hotfix][cdc-common] FlinkEnvironmentUtils#addJar add each jar only once
  flink-cdc-composer/src/main/java/org/apache/flink/cdc/composer/flink/FlinkEnvironmentUtils.java
  flink-cdc-composer/src/test/java/org/apache/flink/cdc/composer/flink/FlinkEnvironmentUtilsTest.java
Labels: composer

#3428 [FLINK-35647][route] Allow symbol replacement to simplify routing rules
  docs/content.zh/docs/core-concept/route.md
  docs/content/docs/core-concept/route.md
  flink-cdc-cli/src/main/java/org/apache/flink/cdc/cli/parser/YamlPipelineDefinitionParser.java
  flink-cdc-cli/src/test/java/org/apache/flink/cdc/cli/parser/YamlPipelineDefinitionParserTest.java
  flink-cdc-cli/src/test/resources/definitions/pipeline-definition-full-with-repsym.yaml
  flink-cdc-common/src/main/java/org/apache/flink/cdc/common/route/RouteRule.java
  flink-cdc-composer/src/main/java/org/apache/flink/cdc/composer/definition/RouteDef.java
  flink-cdc-composer/src/main/java/org/apache/flink/cdc/composer/flink/translator/SchemaOperatorTranslator.java
  flink-cdc-composer/src/test/java/org/apache/flink/cdc/composer/flink/FlinkPipelineComposerITCase.java
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/java/org/apache/flink/cdc/pipeline/tests/RouteE2eITCase.java
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/operators/schema/SchemaOperator.java
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/operators/schema/SchemaOperatorFactory.java
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/operators/schema/coordinator/SchemaDerivation.java
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/operators/schema/coordinator/SchemaRegistry.java
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/operators/schema/coordinator/SchemaRegistryProvider.java
  flink-cdc-runtime/src/test/java/org/apache/flink/cdc/runtime/operators/schema/coordinator/SchemaDerivationTest.java
Labels: docs, composer, common, runtime, cli, e2e-tests

#3458 [FLINK-35781][cli] Provide a default parallelism (1) for pipeline jobs
  docs/content.zh/docs/core-concept/data-pipeline.md
  docs/content/docs/core-concept/data-pipeline.md
  flink-cdc-common/src/main/java/org/apache/flink/cdc/common/pipeline/PipelineOptions.java
Labels: docs, common

#3324 [minor][cdc][docs] Optimize markdown formats in doris quickstart doc
  docs/content.zh/docs/get-started/quickstart/mysql-to-doris.md
Labels: docs

#3464 [hotfix][postgres] Remove unsupported erroneous example code from documentation
  docs/content.zh/docs/connectors/flink-sources/postgres-cdc.md
  docs/content/docs/connectors/flink-sources/postgres-cdc.md
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/org/apache/flink/cdc/connectors/postgres/source/PostgresSourceBuilder.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/test/java/org/apache/flink/cdc/connectors/postgres/source/PostgresSourceExampleTest.java
Labels: docs, postgres-cdc-connector

#3416 [cdc][postgres]PostgresDialect removes useless code
  flink-cdc-connect/flink-cdc-source-connectors/flink-cdc-base/src/main/java/org/apache/flink/cdc/connectors/base/source/assigner/StreamSplitAssigner.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/main/java/org/apache/flink/cdc/connectors/postgres/source/PostgresDialect.java
Labels: base, postgres-cdc-connector, reviewed, approved

#3453 [FLINK-35758][doc] add scan.startup.timestamp-millis to mysql connector options.
  docs/content.zh/docs/connectors/flink-sources/mysql-cdc.md
  docs/content.zh/docs/connectors/pipeline-connectors/mysql.md
  docs/content/docs/connectors/flink-sources/mysql-cdc.md
  docs/content/docs/connectors/pipeline-connectors/mysql.md
Labels: docs, reviewed, approved

#3385 [cdc][mysql]Code optimization extracts constants
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/io/debezium/connector/mysql/converters/MysqlDebeziumTimeConverter.java
Labels: mysql-cdc-connector, reviewed, approved

#3479 add note **请注意这里的lib指的是flink-cdc的lib，而不是flink的lib，pipeline相关的包不要放到flink的lib下，否则会引发类加载相关问题**
  docs/content.zh/docs/get-started/quickstart/mysql-to-doris.md
  docs/content.zh/docs/get-started/quickstart/mysql-to-starrocks.md
  docs/content/docs/get-started/quickstart/mysql-to-doris.md
  docs/content/docs/get-started/quickstart/mysql-to-starrocks.md
Labels: docs, reviewed, approved

#3414 [FLINK-35237] Allow Sink to Choose HashFunction in PrePartitionOperator
  flink-cdc-common/src/main/java/org/apache/flink/cdc/common/function/HashFunction.java
  flink-cdc-common/src/main/java/org/apache/flink/cdc/common/function/HashFunctionProvider.java
  flink-cdc-common/src/main/java/org/apache/flink/cdc/common/sink/DataSink.java
  flink-cdc-common/src/main/java/org/apache/flink/cdc/common/sink/DefaultDataChangeEventHashFunctionProvider.java
  flink-cdc-composer/src/main/java/org/apache/flink/cdc/composer/flink/FlinkPipelineComposer.java
  flink-cdc-composer/src/main/java/org/apache/flink/cdc/composer/flink/translator/PartitioningTranslator.java
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/partitioning/PrePartitionOperator.java
  flink-cdc-runtime/src/test/java/org/apache/flink/cdc/runtime/partitioning/PrePartitionOperatorTest.java
Labels: composer, common, runtime, reviewed, approved

#3484 [FLINK-35871][doc] add "snapshot" to mysql connector startup options.
  docs/content.zh/docs/connectors/flink-sources/mysql-cdc.md
  docs/content.zh/docs/connectors/pipeline-connectors/mysql.md
  docs/content/docs/connectors/flink-sources/mysql-cdc.md
  docs/content/docs/connectors/pipeline-connectors/mysql.md
Labels: docs, reviewed, approved

#3443 [minor][cdc-connector][oracle] OracleSchema getTableSchema Description Modified
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-oracle-cdc/src/main/java/org/apache/flink/cdc/connectors/oracle/source/utils/OracleSchema.java
Labels: oracle-cdc-connector, reviewed, approved

#3488 [FLINK-35874][cdc-connector][mysql] Check pureBinlogPhaseTables set before call getBinlogPosition method
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/debezium/reader/BinlogSplitReader.java
Labels: mysql-cdc-connector, reviewed, approved

#3492 [hotfix][docs] Fix MongoDB Driver version specification
  docs/content.zh/docs/connectors/flink-sources/overview.md
  docs/content/docs/connectors/flink-sources/overview.md
Labels: docs

#3493 [hotfix][docs] Fix MongoDB Driver version specification
  docs/content.zh/docs/connectors/flink-sources/overview.md
  docs/content/docs/connectors/flink-sources/overview.md
Labels: docs

#3448 [FLINK-35740][mysql] Allow column as chunk key even if not in Primary Keys
  docs/content.zh/docs/connectors/flink-sources/mysql-cdc.md
  docs/content/docs/connectors/flink-sources/mysql-cdc.md
  flink-cdc-connect/flink-cdc-source-connectors/flink-cdc-base/src/main/java/org/apache/flink/cdc/connectors/base/options/JdbcSourceOptions.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/source/config/MySqlSourceOptions.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/source/utils/ChunkUtils.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/source/utils/RecordUtils.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/mysql/source/assigners/MySqlSnapshotSplitAssignerTest.java
Labels: docs, mysql-cdc-connector, base, reviewed, approved

#3426 [hotfix][test] Add CDC 3.1.1 release to migration test versions
  flink-cdc-migration-tests/flink-cdc-migration-testcases/pom.xml
  flink-cdc-migration-tests/flink-cdc-migration-testcases/src/test/java/org/apache/flink/cdc/migration/tests/MigrationTestBase.java
  flink-cdc-migration-tests/flink-cdc-release-3.1.1/pom.xml
  flink-cdc-migration-tests/flink-cdc-release-3.1.1/src/main/java/org/apache/flink/cdc/migration/tests/MigrationMockBase.java
  flink-cdc-migration-tests/flink-cdc-release-3.1.1/src/main/java/org/apache/flink/cdc/migration/tests/SchemaManagerMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-3.1.1/src/main/java/org/apache/flink/cdc/migration/tests/SchemaRegistryMigrationMock.java
  flink-cdc-migration-tests/flink-cdc-release-3.1.1/src/main/java/org/apache/flink/cdc/migration/tests/TableChangeInfoMigrationMock.java
  flink-cdc-migration-tests/pom.xml
Labels: migration-tests, reviewed, approved

#3489 [FLINK-35868][cdc-connector][mongodb] Bump dependency version to support MongoDB 7.0
  docs/content.zh/docs/connectors/flink-sources/overview.md
  docs/content/docs/connectors/flink-sources/overview.md
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/test/java/org/apache/flink/cdc/connectors/mongodb/source/MongoDBFullChangelogITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/test/java/org/apache/flink/cdc/connectors/mongodb/source/MongoDBParallelSourceExampleTest.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/test/java/org/apache/flink/cdc/connectors/mongodb/source/MongoDBParallelSourceITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/test/java/org/apache/flink/cdc/connectors/mongodb/source/MongoDBSourceTestBase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/test/java/org/apache/flink/cdc/connectors/mongodb/source/NewlyAddedTableITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/test/java/org/apache/flink/cdc/connectors/mongodb/source/reader/MongoDBSnapshotSplitReaderTest.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/test/java/org/apache/flink/cdc/connectors/mongodb/source/reader/MongoDBStreamSplitReaderTest.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/test/java/org/apache/flink/cdc/connectors/mongodb/table/MongoDBConnectorITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/test/java/org/apache/flink/cdc/connectors/mongodb/table/MongoDBRegexFilterITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/test/java/org/apache/flink/cdc/connectors/mongodb/table/MongoDBTimeZoneITCase.java
  flink-cdc-e2e-tests/flink-cdc-source-e2e-tests/src/test/java/org/apache/flink/cdc/connectors/tests/MongoE2eITCase.java
Labels: docs, mongodb-cdc-connector, e2e-tests, reviewed, approved

#3335 [FLINK-35391][cdc-connector][paimon] Bump dependency of Paimon Pipeline connector to 0.8.0
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/pom.xml
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/org/apache/flink/cdc/connectors/paimon/sink/PaimonMetadataApplier.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/test/java/org/apache/flink/cdc/connectors/paimon/sink/v2/PaimonSinkITCase.java
  pom.xml
Labels: build, paimon-pipeline-connector, reviewed, approved

#3447 [FLINK-35736][tests] Add migration test scripts & CI workflows
  .github/workflows/flink_cdc.yml
  tools/mig-test/.gitignore
  tools/mig-test/README.md
  tools/mig-test/conf/docker-compose.yml
  tools/mig-test/conf/pipeline-route.yaml
  tools/mig-test/conf/pipeline.yaml
  tools/mig-test/datastream/README.md
  tools/mig-test/datastream/compile_jobs.rb
  tools/mig-test/datastream/datastream-2.4.2/.gitignore
  tools/mig-test/datastream/datastream-2.4.2/pom.xml
  tools/mig-test/datastream/datastream-2.4.2/src/main/java/DataStreamJob.java
  tools/mig-test/datastream/datastream-3.0.0/.gitignore
  tools/mig-test/datastream/datastream-3.0.0/pom.xml
  tools/mig-test/datastream/datastream-3.0.0/src/main/java/DataStreamJob.java
  tools/mig-test/datastream/datastream-3.0.1/.gitignore
  tools/mig-test/datastream/datastream-3.0.1/pom.xml
  tools/mig-test/datastream/datastream-3.0.1/src/main/java/DataStreamJob.java
  tools/mig-test/datastream/datastream-3.1.0/.gitignore
  tools/mig-test/datastream/datastream-3.1.0/pom.xml
  tools/mig-test/datastream/datastream-3.1.0/src/main/java/DataStreamJob.java
  tools/mig-test/datastream/datastream-3.1.1/.gitignore
  tools/mig-test/datastream/datastream-3.1.1/pom.xml
  tools/mig-test/datastream/datastream-3.1.1/src/main/java/DataStreamJob.java
  tools/mig-test/datastream/datastream-3.2-SNAPSHOT/.gitignore
  tools/mig-test/datastream/datastream-3.2-SNAPSHOT/pom.xml
  tools/mig-test/datastream/datastream-3.2-SNAPSHOT/src/main/java/DataStreamJob.java
  tools/mig-test/datastream/run_migration_test.rb
  tools/mig-test/misc/patch_flink_conf.rb
  tools/mig-test/prepare_libs.rb
  tools/mig-test/run_migration_test.rb
Labels: build, reviewed, approved

#3496 [docs][minor] Add transform piece for pipeline example
  README.md
  docs/content.zh/docs/core-concept/data-pipeline.md
  docs/content/docs/core-concept/data-pipeline.md
Labels: docs, reviewed, approved

#3473 [FLINK-35072][doris] Support applying AlterColumnTypeEvent to Doris sink
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/pom.xml
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/main/java/org/apache/flink/cdc/connectors/doris/sink/DorisMetadataApplier.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/test/java/org/apache/flink/cdc/connectors/doris/sink/DorisMetadataApplierITCase.java
Labels: doris-pipeline-connector, reviewed, approved

#3357 [FLINK-34877][cdc] Flink CDC pipeline transform supports type conversion
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/functions/SystemFunctionUtils.java
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/parser/JaninoCompiler.java
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/serializer/data/writer/AbstractBinaryWriter.java
  flink-cdc-runtime/src/test/java/org/apache/flink/cdc/runtime/operators/transform/TransformDataOperatorTest.java
  flink-cdc-runtime/src/test/java/org/apache/flink/cdc/runtime/parser/TransformParserTest.java
Labels: runtime, reviewed, approved
