Repository apache/flink-cdc, pull requests merged in 2024-03, with the labels that each got.

#3022 [FLINK-34187] Setup CI for Flink CDC project
  .github/workflows/flink_cdc.yml
  azure-pipelines.yml
  tools/azure-pipelines/create_build_artifact.sh
  tools/azure-pipelines/debug_files_utils.sh
  tools/azure-pipelines/jobs-template.yml
  tools/azure-pipelines/unpack_build_artifact.sh
  tools/azure-pipelines/uploading_watchdog.sh
  tools/ci/compile.sh
  tools/ci/controller_utils.sh
  tools/ci/google-mirror-settings.xml
  tools/ci/log4j.properties
  tools/ci/maven-utils.sh
  tools/ci/stage.sh
  tools/ci/test_controller.sh
  tools/ci/watchdog.sh
Labels: build

#3097 [FLINK-34578] Remove issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
Labels: build

#3096 [FLINK-34577] Add IssueNavigationLink for IDEA git log
  .idea/vcs.xml
Labels: build

#3107 [FLINK-34183] Update NOTICE files
  NOTICE
  docs/site/NOTICE
  flink-cdc-connect/flink-cdc-source-connectors/flink-sql-connector-db2-cdc/src/main/resources/META-INF/NOTICE
  flink-cdc-connect/flink-cdc-source-connectors/flink-sql-connector-mongodb-cdc/src/main/resources/META-INF/NOTICE
  flink-cdc-connect/flink-cdc-source-connectors/flink-sql-connector-mysql-cdc/src/main/resources/META-INF/NOTICE
  flink-cdc-connect/flink-cdc-source-connectors/flink-sql-connector-oceanbase-cdc/src/main/resources/META-INF/NOTICE
  flink-cdc-connect/flink-cdc-source-connectors/flink-sql-connector-oracle-cdc/src/main/resources/META-INF/NOTICE
  flink-cdc-connect/flink-cdc-source-connectors/flink-sql-connector-postgres-cdc/src/main/resources/META-INF/NOTICE
  flink-cdc-connect/flink-cdc-source-connectors/flink-sql-connector-sqlserver-cdc/src/main/resources/META-INF/NOTICE
Labels: docs, mongodb-cdc-connector, mysql-cdc-connector, oracle-cdc-connector, postgres-cdc-connector, sqlserver-cdc-connector, oceanbase-cdc-connector, db2-cdc-connector

#3118 [hotfix][cdc][build] Include cdc-common module when shaded for module flink-sql-connector-mysql-cdc
  flink-cdc-connect/flink-cdc-source-connectors/flink-sql-connector-mysql-cdc/pom.xml
  flink-cdc-e2e-tests/flink-cdc-source-e2e-tests/src/test/java/org/apache/flink/cdc/connectors/tests/MySqlE2eITCase.java
Labels: mysql-cdc-connector, e2e-tests

#3139 [FLINK-34180][cdc] Add issue template to remind users about the new bug and feature reporting way
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/issue-notice.yml
Labels: build

#3158 [FLINK-34678][cdc] Add introduction page for Flink CDC docs
  docs/content/docs/get-started/introduction.md
Labels: docs

#3161 [FLINK-34715][cdc-connector][mysql] Fix mysql ut about closing BinlogSplitReader
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/mysql/debezium/reader/BinlogSplitReaderTest.java
Labels: mysql-cdc-connector

#3162 [FLINK-34682][cdc] Add "Understand Flink CDC API" page for Flink CDC docs
  docs/content/docs/developer-guide/understand-flink-cdc-api.md
  docs/static/fig/flow-of-events.png
Labels: docs

#3160 [FLINK-34680][cdc] Add overview page for CDC connectors and optimize connector docs
  docs/content/docs/connectors/doris.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/overview.md
  docs/content/docs/connectors/mysql.md
  docs/content/docs/connectors/overview.md
  docs/content/docs/connectors/starrocks.md
Labels: docs

#3153 [FLINK-34679][cdc] add doc under core-concept.
  docs/content/docs/core-concept/data-pipeline.md
  docs/content/docs/core-concept/data-sink.md
  docs/content/docs/core-concept/data-source.md
  docs/content/docs/core-concept/route.md
  docs/content/docs/core-concept/table-id.md
  docs/content/docs/core-concept/transform.md
Labels: docs

#3152 [FLINK-34671][cdc] update README.md file to update links and description.
  README.md
  docs/static/fig/flinkcdc-logo.png
Labels: docs

#3164 [minor][cdc][docs] Improve the quickstart examples for Flink CDC docs
  docs/content.zh/docs/get-started/quickstart/mysql-to-doris.md
  docs/content.zh/docs/get-started/quickstart/mysql-to-starrocks.md
  docs/content/docs/get-started/quickstart/mysql-to-doris.md
  docs/content/docs/get-started/quickstart/mysql-to-starrocks.md
Labels: docs

#3165 [FLINK-34685][cdc][doc] add kubernetes.md under deployment directory.
  docs/content/docs/deployment/kubernetes.md
Labels: docs

#3166 [FLINK-34681][cdc][doc] add standalone.md under deployment directory.
  docs/content/docs/deployment/standalone.md
Labels: docs

#3163 [FLINK-34686][cdc] add docs about yarn deployment
  docs/content/docs/deployment/yarn.md
Labels: docs

#3167 [FLINK-34724][docs] Fix broken web link in document of legacy Flink CDC Sources
  docs/config.toml
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/db2-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/mongodb-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/mysql-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/oceanbase-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/oracle-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/overview.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/postgres-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/sqlserver-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tidb-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/vitess-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/db2-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/mongodb-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/mysql-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/oceanbase-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/oracle-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/overview.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/postgres-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/sqlserver-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/tidb-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/vitess-cdc.md
Labels: docs

#3169 [FLINK-34677][cdc] Synchronize Chinese documentations for Flink CDC
  docs/content.zh/docs/connectors/doris.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/datastream-api-package-guidance.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/db2-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/mongodb-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/oceanbase-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/overview.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/_index.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/build-real-time-data-lake-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/db2-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/mongodb-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/mysql-postgres-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/oceanbase-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/oracle-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/polardbx-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/sqlserver-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/tidb-tutorial.md
  docs/content.zh/docs/connectors/mysql.md
  docs/content.zh/docs/connectors/overview.md
  docs/content.zh/docs/connectors/starrocks.md
  docs/content.zh/docs/core-concept/data-pipeline.md
  docs/content.zh/docs/core-concept/data-sink.md
  docs/content.zh/docs/core-concept/data-source.md
  docs/content.zh/docs/core-concept/route.md
  docs/content.zh/docs/core-concept/table-id.md
  docs/content.zh/docs/core-concept/transform.md
  docs/content.zh/docs/deployment/kubernetes.md
  docs/content.zh/docs/deployment/standalone.md
  docs/content.zh/docs/deployment/yarn.md
  docs/content.zh/docs/developer-guide/contribute-to-flink-cdc.md
  docs/content.zh/docs/developer-guide/understand-flink-cdc-api.md
  docs/content.zh/docs/get-started/introduction.md
  docs/content/docs/get-started/quickstart/mysql-to-doris.md
Labels: docs

#3172 [FLINK-34734][cdc][doc] update the title of content.zh to Chinese.
  docs/content.zh/docs/connectors/_index.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/_index.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/datastream-api-package-guidance.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/overview.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/_index.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/build-real-time-data-lake-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/db2-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/mongodb-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/mysql-postgres-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/oceanbase-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/oracle-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/polardbx-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/sqlserver-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/tidb-tutorial.md
  docs/content.zh/docs/connectors/overview.md
  docs/content.zh/docs/core-concept/_index.md
  docs/content.zh/docs/deployment/_index.md
  docs/content.zh/docs/developer-guide/_index.md
  docs/content.zh/docs/developer-guide/contribute-to-flink-cdc.md
  docs/content.zh/docs/developer-guide/licenses.md
  docs/content.zh/docs/developer-guide/understand-flink-cdc-api.md
  docs/content.zh/docs/faq/_index.md
  docs/content.zh/docs/faq/faq.md
  docs/content.zh/docs/get-started/_index.md
  docs/content.zh/docs/get-started/introduction.md
  docs/content.zh/docs/get-started/quickstart/_index.md
  docs/content.zh/docs/get-started/quickstart/mysql-to-doris.md
  docs/content.zh/docs/get-started/quickstart/mysql-to-starrocks.md
Labels: docs

#3173 [FLINK-34742][docs] Translate "FAQ" Page for Flink CDC Chinese Documentation
  docs/content.zh/docs/faq/faq.md
  docs/content/docs/faq/faq.md
Labels: docs

#3174 [FLINK-34740][cdc][doc] copy back Chinese connector docs and update some links.
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/mongodb-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/mysql-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/oceanbase-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/overview.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/build-real-time-data-lake-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/build-streaming-etl-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/db2-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/mongodb-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/oceanbase-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/oracle-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/polardbx-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/sqlserver-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/tidb-tutorial.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/overview.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/tutorials/build-real-time-data-lake-tutorial.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/tutorials/build-streaming-etl-tutorial.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/tutorials/db2-tutorial.md
Labels: docs

#3175 [FLINK-34741][docs] Translate "get-started" Page for Flink CDC Chinese Documentation.
  docs/content.zh/docs/get-started/introduction.md
  docs/content.zh/docs/get-started/quickstart/mysql-to-doris.md
  docs/content.zh/docs/get-started/quickstart/mysql-to-starrocks.md
  docs/content/docs/get-started/quickstart/mysql-to-doris.md
  docs/content/docs/get-started/quickstart/mysql-to-starrocks.md
Labels: docs

#3178 [FLINK-34739][docs] Translate "Connectors" Page for Flink CDC Chinese Documentation
  docs/content.zh/docs/connectors/doris.md
  docs/content.zh/docs/connectors/mysql.md
  docs/content.zh/docs/connectors/overview.md
  docs/content.zh/docs/connectors/starrocks.md
Labels: docs

#3179 Backport translated Chinese docs in master to release-3.0 branch
  docs/content.zh/docs/connectors/_index.md
  docs/content.zh/docs/connectors/doris.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/_index.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/datastream-api-package-guidance.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/mongodb-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/mysql-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/oceanbase-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/overview.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/_index.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/build-real-time-data-lake-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/build-streaming-etl-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/db2-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/mongodb-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/oceanbase-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/oracle-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/polardbx-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/sqlserver-tutorial.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tutorials/tidb-tutorial.md
  docs/content.zh/docs/connectors/mysql.md
  docs/content.zh/docs/connectors/overview.md
  docs/content.zh/docs/connectors/starrocks.md
  docs/content.zh/docs/core-concept/_index.md
  docs/content.zh/docs/deployment/_index.md
  docs/content.zh/docs/developer-guide/_index.md
  docs/content.zh/docs/developer-guide/contribute-to-flink-cdc.md
  docs/content.zh/docs/developer-guide/licenses.md
  docs/content.zh/docs/developer-guide/understand-flink-cdc-api.md
  docs/content.zh/docs/faq/_index.md
  docs/content.zh/docs/faq/faq.md
  docs/content.zh/docs/get-started/_index.md
  docs/content.zh/docs/get-started/introduction.md
  docs/content.zh/docs/get-started/quickstart/_index.md
  docs/content.zh/docs/get-started/quickstart/mysql-to-doris.md
  docs/content.zh/docs/get-started/quickstart/mysql-to-starrocks.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/overview.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/tutorials/build-real-time-data-lake-tutorial.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/tutorials/build-streaming-etl-tutorial.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/tutorials/db2-tutorial.md
  docs/content/docs/faq/faq.md
  docs/content/docs/get-started/quickstart/mysql-to-doris.md
  docs/content/docs/get-started/quickstart/mysql-to-starrocks.md
Labels: docs

#3182 [FLINK-34770][cdc][doc] fix download links.
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/db2-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/mongodb-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/mysql-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/oceanbase-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/oracle-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/postgres-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/sqlserver-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/tidb-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/vitess-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/db2-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/mongodb-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/mysql-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/oceanbase-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/oracle-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/postgres-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/sqlserver-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/tidb-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/vitess-cdc.md
Labels: docs

#3168 [FLINK-34732][cdc][ci] Add document dead link check for Flink CDC Documentation
  .dlc.json
  .github/workflows/build_docs.yml
  README.md
  docs/content.zh/_index.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/db2-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/mysql-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/overview.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/vitess-cdc.md
  docs/content.zh/docs/connectors/mysql.md
  docs/content.zh/docs/developer-guide/contribute-to-flink-cdc.md
  docs/content/_index.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/db2-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/mysql-cdc.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/overview.md
  docs/content/docs/connectors/legacy-flink-cdc-sources/vitess-cdc.md
  docs/content/docs/connectors/mysql.md
Labels: docs, build

#3110 [hotfix] Change old com.ververica dependency to flink
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/mongodb-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/mysql-cdc.md
  docs/content.zh/docs/connectors/legacy-flink-cdc-sources/oceanbase-cdc.md
  flink-cdc-cli/pom.xml
  flink-cdc-common/pom.xml
  flink-cdc-composer/pom.xml
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/pom.xml
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/pom.xml
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-starrocks/pom.xml
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-values/pom.xml
  flink-cdc-connect/flink-cdc-pipeline-connectors/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-cdc-base/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-db2-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-debezium/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-oceanbase-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-oracle-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-sqlserver-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-test-util/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-tidb-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-vitess-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-sql-connector-db2-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-sql-connector-mongodb-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-sql-connector-mysql-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-sql-connector-oceanbase-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-sql-connector-oracle-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-sql-connector-postgres-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-sql-connector-sqlserver-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-sql-connector-tidb-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-sql-connector-vitess-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/pom.xml
  flink-cdc-connect/pom.xml
  flink-cdc-dist/pom.xml
  flink-cdc-dist/src/main/flink-cdc-bin/bin/flink-cdc.sh
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/pom.xml
  flink-cdc-e2e-tests/flink-cdc-source-e2e-tests/pom.xml
  flink-cdc-e2e-tests/pom.xml
  flink-cdc-runtime/pom.xml
  pom.xml
Labels: docs, values-pipeline-connector, composer, common, runtime, mongodb-cdc-connector, build, mysql-cdc-connector, base, oracle-cdc-connector, postgres-cdc-connector, sqlserver-cdc-connector, dist, cli, e2e-tests, oceanbase-cdc-connector, vitess-cdc-connector, db2-cdc-connector, mysql-pipeline-connector, doris-pipeline-connector, starrocks-pipeline-connector, connector-test-util, tidb-cdc-connector

#2988 [build] fix inconsistent Kafka shading among cdc connectors
  flink-cdc-connect/flink-cdc-source-connectors/flink-sql-connector-tidb-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-sql-connector-vitess-cdc/pom.xml
Labels: vitess-cdc-connector, tidb-cdc-connector

#3177 [FLINK-34753][docs] improve and update outdated mongodb cdc FAQ
  docs/content.zh/docs/faq/faq.md
  docs/content/docs/faq/faq.md
Labels: docs
