Repository apache/flink-cdc, pull requests merged in 2024-05, with the labels that each got.

#3265 [FLINK-35244][cdc-connector][tidb] Move package for flink-connector-tidb-cdc test
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-tidb-cdc/src/test/java/org/apache/flink/cdc/connectors/tidb/TiDBTestBase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-tidb-cdc/src/test/java/org/apache/flink/cdc/connectors/tidb/table/TiDBConnectorITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-tidb-cdc/src/test/java/org/apache/flink/cdc/connectors/tidb/table/TiDBConnectorRegionITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-tidb-cdc/src/test/java/org/apache/flink/cdc/connectors/tidb/table/TiDBTableSourceFactoryTest.java
Labels: tidb-cdc-connector

#3284 [FLINK-35274][cdc-connector][db2] Fix occasional failure issue with Flink CDC Db2 UT
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-db2-cdc/src/main/java/io/debezium/connector/db2/Db2Connection.java
Labels: db2-cdc-connector

#3283 [FLINK-35274][cdc-connector][db2] Fix occasional failure issue with Flink CDC Db2 UT
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-db2-cdc/src/main/java/io/debezium/connector/db2/Db2Connection.java
Labels: db2-cdc-connector

#3260 [docs][pipeline-connector][paimon] fix example bug for `Paimon 'wareh…
  docs/content.zh/docs/connectors/paimon.md
  docs/content/docs/connectors/paimon.md
Labels: docs

#3297 [BP-3.1][hotfix][docs] Correct example configuration for Paimon warehouse path
  docs/content.zh/docs/connectors/paimon.md
  docs/content/docs/connectors/paimon.md
Labels: docs

#3266 [FLINK-35245][cdc-connector][tidb] Add metrics for flink-connector-tidb-cdc
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-tidb-cdc/src/main/java/org/apache/flink/cdc/connectors/tidb/TiKVRichParallelSourceFunction.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-tidb-cdc/src/main/java/org/apache/flink/cdc/connectors/tidb/metrics/TiDBSourceMetrics.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-tidb-cdc/src/test/java/org/apache/flink/cdc/connectors/tidb/metrics/TiDBSourceMetricsTest.java
Labels: tidb-cdc-connector

#3314 [hotfix][docs] Fix dead links in documentations
  docs/content.zh/docs/connectors/pipeline-connectors/overview.md
  docs/content.zh/docs/deployment/kubernetes.md
  docs/content.zh/docs/deployment/standalone.md
  docs/content.zh/docs/deployment/yarn.md
  docs/content/docs/connectors/pipeline-connectors/overview.md
  docs/content/docs/deployment/kubernetes.md
  docs/content/docs/deployment/standalone.md
  docs/content/docs/deployment/yarn.md
Labels: docs

#3308 [FLINK-35314][cdc] Add Flink CDC pipeline transform user document
  docs/content.zh/docs/core-concept/transform.md
  docs/content/docs/core-concept/transform.md
Labels: docs

#3330 [FLINK-35386][cdc][docs] Build release-3.1 documentation and mark it as stable
  .github/workflows/build_docs.yml
Labels: build

#3317 [FLINK-35386][cdc][docs] Build release-3.1 documentation and mark it as stable
  .github/workflows/build_docs.yml
Labels: build

#3331 [FLINK-35386][cdc][docs] Build release-3.1 documentation and mark it as stable
  .github/workflows/build_docs.yml
Labels: build

#3337 [hotfix][cdc][docs] Supplementary answer to the Mysql CDC Q15 question
  docs/content.zh/docs/faq/faq.md
  docs/content/docs/faq/faq.md
Labels: docs

#3351 [FLINK-35431][doc] Migrate references in Flink CDC documentation from Debezium 1.9 to 2.0
  docs/content.zh/docs/connectors/flink-sources/db2-cdc.md
  docs/content.zh/docs/connectors/flink-sources/mysql-cdc.md
  docs/content.zh/docs/connectors/flink-sources/oracle-cdc.md
  docs/content.zh/docs/connectors/flink-sources/overview.md
  docs/content.zh/docs/connectors/flink-sources/postgres-cdc.md
  docs/content.zh/docs/connectors/flink-sources/sqlserver-cdc.md
  docs/content.zh/docs/connectors/pipeline-connectors/mysql.md
  docs/content/docs/connectors/flink-sources/db2-cdc.md
  docs/content/docs/connectors/flink-sources/mysql-cdc.md
  docs/content/docs/connectors/flink-sources/oracle-cdc.md
  docs/content/docs/connectors/flink-sources/overview.md
  docs/content/docs/connectors/flink-sources/postgres-cdc.md
  docs/content/docs/connectors/flink-sources/sqlserver-cdc.md
  docs/content/docs/connectors/pipeline-connectors/mysql.md
Labels: docs

#3354 [BP-3.0][FLINK-35431][doc] Migrate references in Flink CDC documentation from Debezium 1.9 to 2.0
  .dlc.json
  .github/workflows/build_docs.yml
  README.md
  docs/content.zh/_index.md
  docs/content.zh/docs/connectors/flink-sources/db2-cdc.md
  docs/content.zh/docs/connectors/flink-sources/mysql-cdc.md
  docs/content.zh/docs/connectors/flink-sources/oracle-cdc.md
  docs/content.zh/docs/connectors/flink-sources/overview.md
  docs/content.zh/docs/connectors/flink-sources/postgres-cdc.md
  docs/content.zh/docs/connectors/flink-sources/sqlserver-cdc.md
  docs/content.zh/docs/connectors/flink-sources/vitess-cdc.md
  docs/content.zh/docs/connectors/pipeline-connectors/mysql.md
  docs/content.zh/docs/developer-guide/contribute-to-flink-cdc.md
  docs/content/_index.md
  docs/content/docs/connectors/flink-sources/db2-cdc.md
  docs/content/docs/connectors/flink-sources/mysql-cdc.md
  docs/content/docs/connectors/flink-sources/oracle-cdc.md
  docs/content/docs/connectors/flink-sources/overview.md
  docs/content/docs/connectors/flink-sources/postgres-cdc.md
  docs/content/docs/connectors/flink-sources/sqlserver-cdc.md
  docs/content/docs/connectors/flink-sources/vitess-cdc.md
  docs/content/docs/connectors/pipeline-connectors/mysql.md
Labels: docs, build

#3353 [BP-3.1][FLINK-35431][doc] Migrate references in Flink CDC documentation from Debezium 1.9 to 2.0
  docs/content.zh/docs/connectors/flink-sources/db2-cdc.md
  docs/content.zh/docs/connectors/flink-sources/mysql-cdc.md
  docs/content.zh/docs/connectors/flink-sources/oracle-cdc.md
  docs/content.zh/docs/connectors/flink-sources/overview.md
  docs/content.zh/docs/connectors/flink-sources/postgres-cdc.md
  docs/content.zh/docs/connectors/flink-sources/sqlserver-cdc.md
  docs/content.zh/docs/connectors/pipeline-connectors/mysql.md
  docs/content/docs/connectors/flink-sources/db2-cdc.md
  docs/content/docs/connectors/flink-sources/mysql-cdc.md
  docs/content/docs/connectors/flink-sources/oracle-cdc.md
  docs/content/docs/connectors/flink-sources/overview.md
  docs/content/docs/connectors/flink-sources/postgres-cdc.md
  docs/content/docs/connectors/flink-sources/sqlserver-cdc.md
  docs/content/docs/connectors/pipeline-connectors/mysql.md
Labels: docs

#3298 [FLINK-35298][cdc] improve fetch delay metric reporter logic
  flink-cdc-connect/flink-cdc-source-connectors/flink-cdc-base/src/main/java/org/apache/flink/cdc/connectors/base/source/metrics/SourceReaderMetrics.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-cdc-base/src/main/java/org/apache/flink/cdc/connectors/base/source/reader/IncrementalSourceRecordEmitter.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/source/metrics/MySqlSourceReaderMetrics.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/source/reader/MySqlRecordEmitter.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/mysql/source/MySqlSourceITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/mysql/source/MySqlSourceTestBase.java
Labels: mysql-cdc-connector, base

#3291 [FLINK-35294][mysql] Use source config to check if the filter should be applied in timestamp starting mode
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/debezium/reader/BinlogSplitReader.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/debezium/task/MySqlBinlogSplitReadTask.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/mysql/debezium/reader/BinlogSplitReaderTest.java
Labels: mysql-cdc-connector

#3293 [FLINK-35295][mysql] Improve jdbc connection pool initialization failure message
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/source/connection/PooledDataSourceFactory.java
Labels: mysql-cdc-connector

#3300 [FLINK-35301][cdc] fix deadlock when loading driver classes
  flink-cdc-connect/flink-cdc-source-connectors/flink-cdc-base/src/main/java/org/apache/flink/cdc/connectors/base/relational/connection/JdbcConnectionPoolFactory.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/io/debezium/connector/mysql/MySqlConnection.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/source/connection/PooledDataSourceFactory.java
Labels: mysql-cdc-connector, base

#3341 [FLINK-35408][cdc][mysql] Add 30 min tolerance value when validating the time-zone setting
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/MySqlValidator.java
Labels: mysql-cdc-connector

#3362 [FLINK-35447][doc-ci] Flink CDC Document document file had removed but website can access
  .github/workflows/build_docs.yml
Labels: build

#3368 [BP-3.0][FLINK-35447][doc-ci] Flink CDC Document document file had removed but website can access
  .github/workflows/build_docs.yml
Labels: build

#3367 [BP-3.1][FLINK-35447][doc-ci] Flink CDC Document document file had removed but website can access
  .github/workflows/build_docs.yml
Labels: build

#3342 [FLINK-35409][cdc][mysql] Request more splits if all splits are filtered from addSplits method
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/source/reader/MySqlSourceReader.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/mysql/source/reader/MySqlSourceReaderTest.java
Labels: mysql-cdc-connector

#3374 [BP-3.1][FLINK-35295][mysql] Improve jdbc connection pool initialization failure message
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/source/connection/PooledDataSourceFactory.java
Labels: mysql-cdc-connector
