Repository apache/flink-cdc, pull requests merged in 2025-02, with the labels that each got.

#3899 [FLINK-37233] Update flink cdc document for flink-cdc 3.3 and flink-cdc master
  docs/content.zh/docs/connectors/flink-sources/overview.md
  docs/content.zh/docs/connectors/pipeline-connectors/overview.md
  docs/content/docs/connectors/flink-sources/overview.md
  docs/content/docs/connectors/pipeline-connectors/overview.md
Labels: docs, reviewed, approved

#3905 [FLINK-37233][docs] Update supported flink versions and sinks (#3899)
  docs/content.zh/docs/connectors/flink-sources/overview.md
  docs/content.zh/docs/connectors/pipeline-connectors/overview.md
  docs/content/docs/connectors/flink-sources/overview.md
  docs/content/docs/connectors/pipeline-connectors/overview.md
Labels: docs

#3901 [FLINK-34729][docs] Translate "Core Concept" Pages of Flink CDC into Chinese Documentation.
  docs/content.zh/docs/core-concept/data-pipeline.md
  docs/content.zh/docs/core-concept/data-sink.md
  docs/content.zh/docs/core-concept/data-source.md
  docs/content.zh/docs/core-concept/route.md
  docs/content.zh/docs/core-concept/table-id.md
  docs/content.zh/docs/core-concept/transform.md
Labels: docs, reviewed, approved

#3903 [FLINK-37252][doc] Align Chinese document of Postgres CDC Connector with English document.
  docs/content.zh/docs/connectors/flink-sources/postgres-cdc.md
Labels: docs, reviewed, approved

#3895 [FLINK-37224] Add the missing documents and parameters of MongoDB CDC.
  docs/content.zh/docs/connectors/flink-sources/mongodb-cdc.md
Labels: docs, reviewed, approved

#3900 [FLINK-37251][docs] add Download Page in overview.md for Pipeline connectors.
  docs/content.zh/docs/connectors/pipeline-connectors/overview.md
  docs/content/docs/connectors/pipeline-connectors/overview.md
Labels: docs

#3897 [FLINK-37231] Add doc for Source metrics.
  docs/content.zh/docs/connectors/flink-sources/db2-cdc.md
  docs/content.zh/docs/connectors/flink-sources/mongodb-cdc.md
  docs/content.zh/docs/connectors/flink-sources/mysql-cdc.md
  docs/content.zh/docs/connectors/flink-sources/oceanbase-cdc.md
  docs/content.zh/docs/connectors/flink-sources/oracle-cdc.md
  docs/content.zh/docs/connectors/flink-sources/postgres-cdc.md
  docs/content.zh/docs/connectors/flink-sources/sqlserver-cdc.md
  docs/content.zh/docs/connectors/pipeline-connectors/mysql.md
  docs/content/docs/connectors/flink-sources/db2-cdc.md
  docs/content/docs/connectors/flink-sources/mongodb-cdc.md
  docs/content/docs/connectors/flink-sources/mysql-cdc.md
  docs/content/docs/connectors/flink-sources/oceanbase-cdc.md
  docs/content/docs/connectors/flink-sources/oracle-cdc.md
  docs/content/docs/connectors/flink-sources/postgres-cdc.md
  docs/content/docs/connectors/flink-sources/sqlserver-cdc.md
  docs/content/docs/connectors/pipeline-connectors/mysql.md
Labels: docs, reviewed, approved

#3723 [FLINK-36698][pipeline-connector][elasticsearch] Elasticsearch Pipeline Connector support index sharding
  docs/content.zh/docs/connectors/pipeline-connectors/elasticsearch.md
  docs/content/docs/connectors/pipeline-connectors/elasticsearch.md
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-elasticsearch/src/main/java/org/apache/flink/cdc/connectors/elasticsearch/config/ElasticsearchSinkOptions.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-elasticsearch/src/main/java/org/apache/flink/cdc/connectors/elasticsearch/serializer/ElasticsearchEventSerializer.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-elasticsearch/src/main/java/org/apache/flink/cdc/connectors/elasticsearch/sink/ElasticsearchDataSink.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-elasticsearch/src/main/java/org/apache/flink/cdc/connectors/elasticsearch/sink/ElasticsearchDataSinkFactory.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-elasticsearch/src/main/java/org/apache/flink/cdc/connectors/elasticsearch/sink/ElasticsearchDataSinkOptions.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-elasticsearch/src/test/java/org/apache/flink/cdc/connectors/elasticsearch/sink/ElasticsearchDataSinkFactoryTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-elasticsearch/src/test/java/org/apache/flink/cdc/connectors/elasticsearch/sink/ElasticsearchEventSerializerTest.java
Labels: docs, reviewed, approved, elasticsearch-pipeline-connector

#3913 [FLINK-37287][docs] Adding Apache Paimon 0.9 and Fixing typo on overview.md
  docs/content.zh/docs/connectors/pipeline-connectors/overview.md
  docs/content/docs/connectors/pipeline-connectors/overview.md
Labels: docs, reviewed, approved

#3908 [hotfix][license] Update legacy license
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/test/resources/log4j2-test.properties
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-db2-cdc/src/test/resources/db2_server/customers.sql
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/resources/docker/mysql/my.cnf
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/resources/docker/mysql/setup.sql
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/resources/log4j2-test.properties
  flink-cdc-e2e-tests/flink-cdc-source-e2e-tests/src/test/resources/docker/db2/customers.sql
Labels: e2e-tests, db2-cdc-connector, kafka-pipeline-connector, reviewed, approved

#3911 [tests][ci] Miscellaneous improvements on CI robustness
  .github/workflows/flink_cdc_base.yml
  .github/workflows/flink_cdc_ci.yml
  .github/workflows/flink_cdc_ci_nightly.yml
  .github/workflows/flink_cdc_migration_test_base.yml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/mysql/LegacyMySqlSourceITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/polardbx/PolardbxCharsetITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/polardbx/PolardbxSourceITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/polardbx/PolardbxSourceTestBase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/resources/file/debezium-data-schema-exclude-with-numeric-decimal.json
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/resources/file/debezium-data-schema-exclude.json
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/resources/file/debezium-data-schema-include.json
  tools/mig-test/datastream/compile_jobs.rb
  tools/mig-test/datastream/datastream-3.2.0/pom.xml
  tools/mig-test/datastream/datastream-3.2.0/src/main/java/DataStreamJob.java
  tools/mig-test/datastream/datastream-3.2.1/pom.xml
  tools/mig-test/datastream/datastream-3.2.1/src/main/java/DataStreamJob.java
  tools/mig-test/datastream/datastream-3.3.0/pom.xml
  tools/mig-test/datastream/datastream-3.3.0/src/main/java/DataStreamJob.java
  tools/mig-test/datastream/datastream-3.4-SNAPSHOT/pom.xml
  tools/mig-test/datastream/datastream-3.4-SNAPSHOT/src/main/java/DataStreamJob.java
  tools/mig-test/datastream/run_migration_test.rb
  tools/mig-test/run_migration_test.rb
Labels: build, mysql-cdc-connector, reviewed, approved

#3650 [FLINK-36564][ci] Running CI in random timezone to expose more time related bugs.
  .github/workflows/flink_cdc_base.yml
  .github/workflows/utils.sh
Labels: build, reviewed, Stale

#3917 [FLINK-37306][tests] Fix MySQLSourceITCase failure in non-UTC timezone
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/mysql/debezium/converters/MysqlDebeziumTimeConverterITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/mysql/source/MySqlMultipleTablesRenamingITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/mysql/source/MySqlSourceITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/mysql/source/SpecificStartingOffsetITCase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/mysql/table/MySqlTimezoneITCase.java
Labels: mysql-cdc-connector, reviewed, approved

#3881 [FLINK-37201] [cdc] [transform] FlinkCDC Pipeline transform arithmetic functions support parameters of null and more numerical types
  docs/content.zh/docs/core-concept/transform.md
  docs/content/docs/core-concept/transform.md
  flink-cdc-composer/src/test/java/org/apache/flink/cdc/composer/flink/FlinkPipelineTransformITCase.java
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/functions/SystemFunctionUtils.java
  flink-cdc-runtime/src/main/java/org/apache/flink/cdc/runtime/serializer/data/writer/AbstractBinaryWriter.java
  flink-cdc-runtime/src/test/java/org/apache/flink/cdc/runtime/operators/transform/PostTransformOperatorTest.java
  flink-cdc-runtime/src/test/java/org/apache/flink/cdc/runtime/parser/TransformParserTest.java
Labels: docs, composer, runtime, reviewed, approved

#3868 [FLINK-37152][build] Update Flink version to 1.20
  flink-cdc-cli/src/test/java/org/apache/flink/cdc/cli/CliFrontendTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-starrocks/pom.xml
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/test/java/org/apache/flink/cdc/connectors/mongodb/LegacyMongoDBTestBase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/mysql/LegacyMySqlTestBase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/polardbx/PolardbxSourceTestBase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-oceanbase-cdc/src/test/java/org/apache/flink/cdc/connectors/oceanbase/OceanBaseTestBase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-postgres-cdc/src/test/java/org/apache/flink/cdc/connectors/postgres/PostgresTestBase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-sqlserver-cdc/src/test/java/org/apache/flink/cdc/connectors/sqlserver/SqlServerTestBase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-tidb-cdc/src/test/java/org/apache/flink/cdc/connectors/tidb/TiDBTestBase.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-vitess-cdc/src/test/java/org/apache/flink/cdc/connectors/vitess/VitessTestBase.java
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/pom.xml
  flink-cdc-runtime/src/test/java/org/apache/flink/cdc/runtime/serializer/SerializerTestBase.java
  pom.xml
Labels: runtime, mongodb-cdc-connector, build, mysql-cdc-connector, postgres-cdc-connector, sqlserver-cdc-connector, cli, e2e-tests, oceanbase-cdc-connector, vitess-cdc-connector, starrocks-pipeline-connector, tidb-cdc-connector, reviewed, approved
