Repository apache/flink-cdc, pull requests merged in 2025-05, with the labels that each got.

#3874 [FLINK-37128][pipeline-connector/mysql] Binlog reader skip `shouldEmit` filter when snapshot reader skip backfill
  docs/content.zh/docs/connectors/flink-sources/mongodb-cdc.md
  docs/content.zh/docs/connectors/flink-sources/mysql-cdc.md
  docs/content.zh/docs/connectors/flink-sources/oracle-cdc.md
  docs/content.zh/docs/connectors/flink-sources/postgres-cdc.md
  docs/content.zh/docs/connectors/flink-sources/sqlserver-cdc.md
  docs/content.zh/docs/connectors/pipeline-connectors/mysql.md
  docs/content/docs/connectors/flink-sources/mongodb-cdc.md
  docs/content/docs/connectors/flink-sources/mysql-cdc.md
  docs/content/docs/connectors/flink-sources/oracle-cdc.md
  docs/content/docs/connectors/flink-sources/postgres-cdc.md
  docs/content/docs/connectors/flink-sources/sqlserver-cdc.md
  docs/content/docs/connectors/pipeline-connectors/mysql.md
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/main/java/org/apache/flink/cdc/connectors/mysql/factory/MySqlDataSourceFactory.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/main/java/org/apache/flink/cdc/connectors/mysql/source/MySqlDataSourceOptions.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-cdc-base/src/main/java/org/apache/flink/cdc/connectors/base/source/reader/external/IncrementalSourceStreamFetcher.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/debezium/reader/BinlogSplitReader.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/mysql/debezium/reader/BinlogSplitReaderTest.java
Labels: docs, mysql-cdc-connector, base, mysql-pipeline-connector, reviewed, approved

#4017 [FLINK-37784][docs] Remove Duplicate Description for `scan.incremental.snapshot.unbounded-chunk-first.enabled` Parameter in Documentation
  docs/content/docs/connectors/pipeline-connectors/mysql.md
Labels: docs, reviewed, approved

#4016 [FLINK-37784][docs] Remove Duplicate Description for `scan.incremental.snapshot.unbounded-chunk-first.enabled` Parameter in Documentation
  docs/content/docs/connectors/pipeline-connectors/mysql.md
Labels: docs, reviewed, approved

#3833 [FLINK-36999][cdc-source-connectors] When the source type is oracle and field type is nember and the value is null, a null pointer exception occurs during deserialization.
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-debezium/src/main/java/org/apache/flink/cdc/debezium/event/DebeziumSchemaDataTypeInference.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-oracle-cdc/src/test/java/org/apache/flink/cdc/connectors/oracle/table/OracleConnectorITCase.java
Labels: oracle-cdc-connector, reviewed, approved, debezium

#4019 [hotfix][cdc][docs] Build 3.4 docs and mark it as stable.
  .github/workflows/build_docs.yml
Labels: build, reviewed, approved

#3847 [FLINK-36844][docs]Postgres CDC document add mapping from postgres timestamp_tz to flink timestamp ltz.
  docs/content/docs/connectors/flink-sources/postgres-cdc.md
Labels: docs, reviewed

#4018 docs: minor updates to Iceberg sink reference
  docs/content/docs/connectors/pipeline-connectors/iceberg.md
Labels: docs, reviewed, approved

#4022 [FLINK-37577][pipeline-connector/paimon] Fix missing column comment
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/org/apache/flink/cdc/connectors/paimon/sink/PaimonMetadataApplier.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/test/java/org/apache/flink/cdc/connectors/paimon/sink/PaimonMetadataApplierTest.java
Labels: paimon-pipeline-connector, reviewed, approved

#4014 FLINK-37774: SQL Server CDC connector incorrectly handles special characters in database and table names
  flink-cdc-connect/flink-cdc-source-connectors/flink-cdc-base/src/main/java/org/apache/flink/cdc/connectors/base/source/assigner/state/PendingSplitsStateSerializer.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-cdc-base/src/test/java/org/apache/flink/cdc/connectors/base/source/assigner/state/PendingSplitsStateSerializerTest.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/source/assigners/state/PendingSplitsStateSerializer.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/main/java/org/apache/flink/cdc/connectors/mysql/source/split/MySqlSplitSerializer.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mysql-cdc/src/test/java/org/apache/flink/cdc/connectors/mysql/source/assigners/state/PendingSplitsStateSerializerTest.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-sqlserver-cdc/src/main/java/org/apache/flink/cdc/connectors/sqlserver/source/utils/SqlServerConnectionUtils.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-sqlserver-cdc/src/main/java/org/apache/flink/cdc/connectors/sqlserver/source/utils/SqlServerUtils.java
Labels: mysql-cdc-connector, base, sqlserver-cdc-connector, reviewed, approved

#4025 [FLINK-37839][tools]Fix source release package contains ._* files
  tools/releasing/create_source_release.sh
Labels: build, reviewed, approved

#3977 [FLINK-37604] Generate static UIDs for pipeline operators
  docs/content.zh/docs/core-concept/data-pipeline.md
  docs/content/docs/core-concept/data-pipeline.md
  flink-cdc-common/src/main/java/org/apache/flink/cdc/common/pipeline/PipelineOptions.java
  flink-cdc-composer/src/main/java/org/apache/flink/cdc/composer/flink/FlinkPipelineComposer.java
  flink-cdc-composer/src/main/java/org/apache/flink/cdc/composer/flink/translator/DataSinkTranslator.java
  flink-cdc-composer/src/main/java/org/apache/flink/cdc/composer/flink/translator/DataSourceTranslator.java
  flink-cdc-composer/src/main/java/org/apache/flink/cdc/composer/flink/translator/OperatorUidGenerator.java
  flink-cdc-composer/src/main/java/org/apache/flink/cdc/composer/flink/translator/PartitioningTranslator.java
  flink-cdc-composer/src/main/java/org/apache/flink/cdc/composer/flink/translator/SchemaOperatorTranslator.java
  flink-cdc-composer/src/main/java/org/apache/flink/cdc/composer/flink/translator/TransformTranslator.java
  flink-cdc-composer/src/test/java/org/apache/flink/cdc/composer/flink/FlinkPipelineComposerTest.java
  flink-cdc-composer/src/test/java/org/apache/flink/cdc/composer/flink/translator/DataSinkTranslatorTest.java
  flink-cdc-composer/src/test/java/org/apache/flink/cdc/composer/flink/translator/OperatorUidGeneratorTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/test/java/org/apache/flink/cdc/connectors/doris/sink/DorisMetadataApplierITCase.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-starrocks/src/test/java/org/apache/flink/cdc/connectors/starrocks/sink/StarRocksMetadataApplierITCase.java
Labels: docs, composer, common, doris-pipeline-connector, starrocks-pipeline-connector, reviewed, approved

#3894 [FLINK-37223] Add the missing documents and parameters of MySQL CDC.
  docs/content.zh/docs/connectors/flink-sources/mysql-cdc.md
  docs/content.zh/docs/connectors/pipeline-connectors/mysql.md
Labels: docs, reviewed, approved

#4023 [hotfix] Remove useless imports.
  flink-cdc-cli/src/main/java/org/apache/flink/cdc/cli/CliExecutor.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/java/org/apache/flink/cdc/connectors/mysql/source/MySqlOnLineSchemaMigrationITCase.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/java/org/apache/flink/cdc/connectors/mysql/source/MySqlParallelizedPipelineITCase.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/java/org/apache/flink/cdc/connectors/mysql/source/MySqlPipelineITCase.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/java/org/apache/flink/cdc/connectors/mysql/source/MysqlPipelineNewlyAddedTableITCase.java
Labels: cli, mysql-pipeline-connector, reviewed, approved
