Repository apache/flink-cdc, pull requests merged in 2025-06, with the labels that each got.

#4039 [FLINK-37909-][cdc-connector-mongodb] Update MongoDBStreamFetchTask to renew heartbeatManager
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/main/java/org/apache/flink/cdc/connectors/mongodb/source/reader/fetch/MongoDBStreamFetchTask.java
Labels: mongodb-cdc-connector, reviewed, approved

#4040 Update MongoDBStreamFetchTask.java
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-mongodb-cdc/src/main/java/org/apache/flink/cdc/connectors/mongodb/source/reader/fetch/MongoDBStreamFetchTask.java
Labels: mongodb-cdc-connector, reviewed, approved

#4037 FLINK-37891: Remove SQL Server CDC documentation for initial-only
  docs/content.zh/docs/connectors/flink-sources/sqlserver-cdc.md
  docs/content/docs/connectors/flink-sources/sqlserver-cdc.md
  flink-cdc-connect/flink-cdc-source-connectors/flink-connector-sqlserver-cdc/src/main/java/org/apache/flink/cdc/connectors/sqlserver/table/SqlServerTableFactory.java
Labels: docs, sqlserver-cdc-connector, reviewed, approved

#3996 [FLINK-37634][pipeline-connector/mysql]When the table name of mysql s…
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/main/java/org/apache/flink/cdc/connectors/mysql/source/MySqlDataSource.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/main/java/org/apache/flink/cdc/connectors/mysql/source/MySqlEventDeserializer.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/main/java/org/apache/flink/cdc/connectors/mysql/source/parser/CustomAlterTableParserListener.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/main/java/org/apache/flink/cdc/connectors/mysql/source/parser/CustomMySqlAntlrDdlParser.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/main/java/org/apache/flink/cdc/connectors/mysql/source/parser/CustomMySqlAntlrDdlParserListener.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/main/java/org/apache/flink/cdc/connectors/mysql/utils/MySqlSchemaUtils.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/java/org/apache/flink/cdc/connectors/mysql/source/MySqlTableIdCaseInsensitveITCase.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/resources/docker/tablename-sensitive/my.cnf
Labels: mysql-pipeline-connector, reviewed, approved, 3.5

#4046 [hotfix][ci] Add missing Iceberg unit tests & split pipeline connector UT into stages
  .github/workflows/flink_cdc_base.yml
  .github/workflows/flink_cdc_ci.yml
  .github/workflows/flink_cdc_ci_nightly.yml
Labels: build, reviewed, approved
